:host {
  position: relative;
  outline: none;
  display: block;
}

:host([label]) {
  height: var(--app-input-area-height-lg, 72px);
}

:host(:not([label])),
:host([label][hide-error-message]) {
  height: var(--app-input-area-height-md, 58px);
}

:host(:not([label])[hide-error-message]) {
  height: var(--app-input-area-height-sm, 30px);
}

:host([inline]) {
  display: inline-flex;
}

:host([disabled]) {
  opacity: 0.6;
  pointer-events: none;
  filter: grayscale(100%);
}

.input-field-container,
.input-slot-prefix,
.input-slot-suffix {
  position: relative;
  display: flex;
  align-items: center;
}

.input-field-container {
  border-radius: var(--app-input-border-radius, .125rem) !important;
  background: var(--ft-uic-input-background, #fff);
  box-shadow: var(--ft-input-element-box-shadow);
  height: var(--app-input-height, 30px);

  /* The following apply should be within a layer or replaced by standard CSS */
  /* Replace @apply --ft-uic-input-field-container; */
  background-color: var(--ft-uic-input-background-color, #fff);
  border: 1px solid var(--ft-uic-input-border-color, #ccc);
}

.input-field-container > div.simple-flex {
  width: 100%;
  display: flex;
  align-items: center;
}

:host([readonly]) .input-field-container {
  background: var(--ft-uic-input-readonly-background, #f9f9f9) !important;
  color: var(--ft-uic-input-readonly-color, #8f8f8f) !important;
  filter: grayscale(100%);
}

:host([readonly]) input + i.readonly-icon {
  color: var(--ft-grey-400);
}

:host([focused]) .input-field-container {
  box-shadow: var(--ft-input-element-box-shadow-focus);
}

.input-field {
  position: relative;
  flex: 1 1 auto;
}

input {
  display: block;
  border: none;
  outline: none;
  font-family: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--ft-app-text-color, #000);
  width: var(--app-input-width, 100%);
  height: var(--app-input-height, 30px);
  font-size: var(--app-input-font-size, inherit);
  line-height: var(--app-input-line-height, normal);
  font-weight: var(--app-input-font-weight, 400);
  padding: var(--app-input-padding, 0 .625rem);
}

input::placeholder {
  font-size: var(--app-input-font-size, 0.75rem);
  font-weight: var(--app-input-font-weight, 400);
  color: var(--ft-grey-400);
}

input::-ms-clear {
  display: none !important;
}

label {
  pointer-events: none;
  display: block;
  width: 100%;
  padding: 4px 0 2px 0;
  color: var(--ft-grey-300);
  font-size: var(--ft-app-font-size);
  text-transform: uppercase;
  font-weight: 500;
}

:host([invalid]) label {
  color: var(--ft-uic-input-container-invalid-color, indianred);
}

.label-is-highlighted label {
  color: var(--ft-grey-400);
}

.label-is-hidden label {
  visibility: hidden;
}

.input-slot-prefix {
  border-right: var(--ft-uic-input-addon-border);
}

.input-slot-suffix {
  border-left: var(--ft-uic-input-addon-border);
  font-size: var(--app-input-font-size, 30px);
}

.error {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--ft-uic-input-error-color, indianred);
  font-size: var(--ft-app-font-size);
  font-weight: 400;
}

.clipboard-icon,
.readonly-icon {
  position: absolute;
  top: calc(50% - 0.5rem);
  right: 0.5rem;
  color: var(--ft-icon-color);
  font-size: 0.938rem;
  display: none;
}

.clipboard-icon {
  font-size: 1rem;
}

:host([readonly]) .readonly-icon,
:host([readonly]) .clipboard-icon {
  display: block;
}

:host([required]) label::after {
  content: " *";
}
