.ft-widget-dashboard {
  position: relative;
  display: block;
  padding: 0 .500rem;
  box-sizing: border-box;
  height: 360px;
}

.ft-widget-settings-btn {
  width: 1.125rem;
  height: 1.125rem;
  padding: 0;
  margin: 0 .125rem;
}

.ft-iron-page-container,
.ft-iron-page-container>div {
  height: 282px;
}

.ft-widget-subline {
  padding: .500rem 1rem;
  font-size: .750rem;
  display: block;
  box-sizing: border-box;
}

.ft-widget-title-container {
  /* @apply --layout-horizontal; */
  display: flex;
  flex-direction: row;
  /* @apply --layout-center; */
  align-items: center;

  justify-content: space-between;
}

.widget-title {
  /* @apply --layout-flex-auto; */
  flex: 1 1 auto;
}

.ft-widget-title-container button i {
  color: var(--ft-grey-400);
}

.ft-widget-filter-list {
  /* @apply --layout-horizontal; */
  display: flex;
  flex-direction: row;
  /* @apply --layout-flex-auto; */
  flex: 1 1 auto;
  margin: .500rem 0;
}

.ft-widget-filter-list .ft-icon-button-filter {
  margin: 0 .250rem;
}

.ft-widget-form {
  padding: .500rem .500rem 1rem .500rem;
  background: var(--ft-app-background);
}

.ft-widget-form-body {
  padding: .250rem;
  box-sizing: border-box;
  height: 236px;
  overflow: auto;
}

.ft-widget-form-footer {
  /* @apply --layout-horizontal; */
  display: flex;
  flex-direction: row;
  /* @apply --layout-center; */
  align-items: center;
  justify-content: space-between;
}

.ft-tab span.ft-tab-nolink,
.ft-tab a {
  font-size: .750rem;
  font-weight: 700;
  padding: 0;
}

.ft-widget-collapse-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: .875rem;
}

.ft-widget-collapse-option {
  border: solid 1px var(--ft-grey-700);
  background: var(--ft-grey-800);
  padding: .500rem;
  box-sizing: border-box;
  min-height: 48px;
}

.ft-widget-collapse-option:nth-child(:first-of-type) {
  border-top-right-radius: .125rem;
  border-top-left-radius: .125rem;
  border-bottom: none;
}

.ft-widget-collapse-option:nth-child(:last-of-type) {
  border-bottom-right-radius: .125rem;
  border-bottom-left-radius: .125rem;
  border-top: none;
}

.ft-widget-collapse-option-header {
  /* @apply --layout-horizontal; */
  display: flex;
  flex-direction: row;
  /* @apply --layout-center; */
  align-items: center;
  justify-content: space-between;
}

.ft-widget-collapse-option-header>div:nth-child(1) {
  flex: 0 0 50px;
}

.ft-widget-collapse-option-header>div:nth-child(2) {
  flex: 1 1 auto;
}

.ft-widget-collapse-option-header>div:nth-child(3) {
  flex: 0 0 30px;
}

.ft-widget-collapse-option-icon {
  width: 1.875rem;
  height: 1.875rem;
  padding: .325rem;
  margin: 0;
  color: var(--ft-yellow-300);
}

.demo-custom-flex-table {
  display: flex;
    flex-direction: column;
}

.ft-tabs .ft-tab {
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 0 !important;
  flex: 1 0 !important;
}

.ft-custom-graph {
  position: relative;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  margin-right: .500rem;
  /* @apply --layout-flex-auto; */
  flex: 1 1 auto;
}

.ft-custom-graph::before {
  content: attr(data-label);
  position: absolute;
  bottom: -22px;
  left: 0;
  color: var(--ft-app-text-color);
  text-transform: uppercase;
  font-size: .750rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.ft-custom-graph>.ft-custom-graph-checkmark iron-icon {
  width: 2rem;
  height: 2rem;
}

.ft-custom-graph>.ft-custom-graph-checkmark ft-uic-icon,
.ft-custom-graph>.ft-custom-graph-checkmark i {
  font-size: 2.125rem;
}

.ft-custom-graph>.ft-custom-graph-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--ft-chart-border);
  border: solid 1px var(--ft-chart-border);
  border-radius: .125rem;
  width: inherit;
  height: inherit;
  /* @apply --layout; */
  display:flex;
  /* @apply --layout-center-center; */
    align-items: center;
    justify-content: center;
}

.ft-custom-graph.iron-selected>.ft-custom-graph-checkmark {
  color: var(--ft-chart-border-primary);
  border: solid 1px var(--ft-chart-border-primary);
}

.ft-custom-graph.iron-selected>.ft-custom-graph-checkmark::before {
  content: '✓';
  position: absolute;
  bottom: .250rem;
  right: .250rem;
  color: var(--ft-yellow-300);
}

.ft-browser-preview {
border: solid 2px var(--ft-icon-color);
border-top-width: 6px;
border-radius: .125rem;
max-width: 120px;
min-width: 80px;
height: 24px;
/* @apply --layout; */
display: flex;
}

.ft-browser-preview > span {
background: var(--ft-icon-color);
margin: 2px;
/* @apply --layout-flex-auto; */
  flex: 1 1 auto;
}

.ft-notice-container {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 8;
  /* @apply --layout; */
  display: flex;
  /* @apply --layout-center-center; */
    align-items: center;
    justify-content: center;
  /* background: var(--ft-widget-notice-background); */
  height: 100%;
  width: 100%;
}

.ft-notice {
  text-align: center;
  font-size: .875rem;
}

.ft-piechart-selector {
  margin: 0 auto;
  position: absolute;
  /* bottom: .500rem; */
  top: .250rem;
  left: .500rem;
  z-index: 5;
  /* @apply --layout-horizontal; */
  display: flex;
  flex-direction: row;
  /* @apply --layout-center; */
  align-items: center;
}

.ft-piechart-amount {
  margin: 0 auto;
  position: absolute;
  top: .375rem;
  right: .500rem;
  z-index: 5;
  font-size: .750rem;
  text-transform: uppercase;
}

.ft-piechart-selector>span {
  text-align: center;
  font-size: .750rem;
  font-weight: 700;
  width: 140px;
  cursor: pointer;
  padding: .125rem;
  box-sizing: border-box;
  color: var(--ft-pie-chart-selector-color);
  background: var(--ft-pie-chart-selector-background);
}

.ft-piechart-selector>span:nth-child(1) {
  border-top-left-radius: .250rem;
  border-bottom-left-radius: .250rem;
}

.ft-piechart-selector>span:nth-child(2) {
  border-top-right-radius: .250rem;
  border-bottom-right-radius: .250rem;
}

.ft-piechart-selector span.iron-selected {
  color: var(--ft-pie-chart-selector-active-color);
  background: var(--ft-pie-chart-selector-active-background);
}
