.ft-inline-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: var(--ft-widget-loader-background);
}

.ft-inline-loader::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 35px;
  height: 9px;
  background-size: cover;
  background-image: url('data:image/gif;base64,R0lGODlhKwALAJECAAKX24KCgv///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCgACACwAAAAAKwALAAACMlSOKMuW2diD88UKG95W88uF4DaGWFmhZid93pq+pwxnLUnXh8ou+sSz+T64YCAyTBUAACH5BAUAAAIALAAAAAArAAsAAAI9FI4oyxIPYWOxmoTBrHzzmGHe94xkmJifyqFKQ0pwHLgHa82xrekkDrIBZRQab1jyfY7KTtPimixiUsevAAAh+QQFAAACACwAAAAAGwALAAACK1SOKMsCD6FJNDQXM6j06swl3geFSkOWpoWm2zqmK8u4rxmTc/5N3LVICQoAIfkEBQAAAgAsEAAAABsACwAAAitUjijLAg+hSTQ0FzOo9OrMJd4HhUpDlqaFpts6pivLuK8Zk3P+Tdy1SAkKADs=');
}

.ft-inline-loader--adjustment {
  top: 3px;
  border-radius: none;
  border-bottom-left-radius: .250rem;
  border-bottom-right-radius: .250rem;
}


/* Pure css line */

.dot-flashing,
.dot-flashing::before,
.dot-flashing::after {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--ft-icon-color);
  color: var(--ft-icon-color);

  -webkit-animation: dot-flashing 1s infinite linear alternate;
  animation: dot-flashing 1s infinite linear alternate;
}

.dot-flashing {
  position: relative;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -9px;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 9px;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: var(--ft-icon-color);
  }
  50%,
  100% {
    background-color: var(--ft-grey-400);
  }
}

.ft-progressive-ring {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.ft-progressive-ring__circle,
.ft-progressive-ring__inner {
  stroke-width: var(--ft-progressive-ring-stroke-width, 2);
  fill: var(--ft-progressive-ring-fill, transparent);
}

.ft-progressive-ring__circle {
  stroke: var(--ft-progressive-ring-stroke, var(--ft-icon-color));
  -webkit-transition: 0.35s stroke-dashoffset;
  -o-transition: 0.35s stroke-dashoffset;
  transition: 0.35s stroke-dashoffset;
}

.ft-progressive-ring__inner {
  stroke: var(--ft-progressive-ring-stroke-inner, var(--ft-muted-color));
}