.ft-toolbar-container,
.ft-path-navigation-container {
  border: solid 1px var(--ft-uic-filter-toolbar-border-color, var(--ft-grey-200));
  background-color: var(--ft-uic-filter-toolbar-background, var(--ft-white-100));

  box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px;
  border-radius: 0.125rem;
  min-height: 42px;
  box-sizing: border-box;
  margin-bottom: 0.5rem;

  padding-left: 2px;

  /* @apply --layout; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* @apply --layout-center; */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* @apply --layout-justified; */
  justify-content: space-between;

  /* Fix for strange height issue */
  flex: 0;
}

.ft-path-navigation-container > .flex-overflow {
  overflow: hidden;
  /* @apply --layout-flex; */
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

/* Divider */

.ft-toolbar-divider {
  width: 1px;
  height: 30px;
  margin: 0 1rem;
  background-color: var(--ft-app-background);
}

/* Icon buttons */

.ft-toolbar-icon-btn {
  margin: 0 0.25rem;
  color: var(--ft-icon-color);
  width: 2rem;
  height: 2rem;
  @apply --layout;
  @apply --layout-center-center;
}

.ft-toolbar-icon-btn:hover {
  background-color: var(--ft-uic-filter-background-hover, rgba(0, 0, 0, 0.2));
}
