:host {
  display: block;
  padding: 0;

  --overflow-panel: hidden;
  --overflow-panel-height: 1200px;
}

.panel {
  background-color: var(--ft-uic-form-step-panel-content-active-background);
  border-radius: .125rem;
  margin-bottom: 1rem;

  /* @apply --panel-shadow-mixin; */
  box-shadow: 0 1px 1px rgba(0,0,0,0.04),
                0 2px 2px rgba(0,0,0,0.04),
                0 4px 4px rgba(0,0,0,0.04);
  /* @apply --layout-vertical; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;

  @apply --ft-uic-form-step-panel;
}

.panel-top,
.panel-top > div {
  /* @apply --layout-horizontal; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.panel-top {
  background-color: var(--ft-uic-form-step-panel-top-background);
  color: var(--ft-grey-400);
  height: var(--ft-uic-form-step-panel-top-height);
  box-shadow: rgba(0,0,0,.1) 0 1px 3px;
  border-top-left-radius: .125rem;
  border-top-right-radius: .125rem;
  z-index: 4;

  /* @apply --layout-justified; */

  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  /* @apply --layout-center; */

  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  @apply --ft-uic-form-step-panel-top;
}

.panel-top h4 {
  margin: 0;
  color: var(--ft-uic-form-step-panel-header-colr, var(--ft-uic-widget-header-color));
  line-height: var(--ft-uic-form-step-panel-top-height);
  font-size: .750rem;
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
}

/* Panel title and icon header */

.panel-header-with-icon {
  width: 100%;
  height: var(--ft-uic-form-step-panel-top-height);
  
  /* @apply --layout-horizontal; */

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.panel-title-steps {
  /* @apply --layout-flex; */
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

.panel-header-icon {
  position: relative;
  margin-right: 16px;

  -webkit-box-flex: 0;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;

  /* @apply --layout; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* @apply --layout-center-center; */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.panel-header-icon::before,
.panel-header-icon::after {
  content: '';

  position: absolute;
  top: 0;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px 0 21px 14px;
}

.panel-header-icon::before {
  border-color: transparent transparent transparent var(--ft-app-background);
  right: -8px;
  z-index: 0;
}

.panel-header-icon::after {
  border-color: transparent transparent transparent var(--ft-uic-form-step-panel-top-background);
  right: -7px;
  z-index: 1;
}

/* Panel content */

.panel-content {
  overflow: var(--overflow-panel);
  height: 0;
}

.panel-content-wrap {
  position: relative;
  padding: 4px;
}

/* Panel collapse/expand animation */

.panel-animate-true {
  height: auto;
  max-height: var(--overflow-panel-height);;
}

/* Panel actions */

.panel-header-actions {
  margin-right: 1rem;
  width: 240px;
  /* @apply --layout; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* @apply --layout-center; */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  /* @apply --layout-end-justified; */
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.warning-text {
  display: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 4px;
}

@media(min-width: 768px) {
  .warning-text {
    display: inline;
  }
}

/* Locked state */

:host([editable]) .panel-content,
:host([disabled]) .panel-content {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* enabled state */

:host(:not([editable])) .panel-top,
:host(:not([disabled])) .panel-top {
  color: var(--ft-app-text-color);
}

:host .panel-top .panel-header-icon {
  color: var(--ft-icon-color);
}

:host([editable]) .panel-top .panel-header-icon,
:host([disabled]) .panel-top .panel-header-icon {
  color: var(--ft-grey-400);
}

/* Mixed shared state */
:host([collapsed]) .panel,
:host([editable]) .panel,
:host([disabled]) .panel {
  background-color: var(--ft-uic-form-step-panel-content-background);
}

:host([collapsed]) .panel-top,
:host([editable]) .panel-top,
:host([disabled]) .panel-top {
  background-color: var(--ft-uic-form-step-panel-top-collapsed-background);
  color: var(--ft-uic-form-step-panel-top-collapsed-color);
}

:host([disabled]) .panel-header-icon::before,
:host([editable]) .panel-header-icon::before,
:host([collapsed]) .panel-header-icon::before {
  border-color: transparent transparent transparent var(--ft-app-background);
}

:host([disabled]) .panel-header-icon::after,
:host([editable]) .panel-header-icon::after,
:host([collapsed]) .panel-header-icon::after {
  border-color: transparent transparent transparent var(--ft-uic-form-step-panel-top-collapsed-background);
}

:host([collapsed]) #content {
  display: none;
}

/* Buttons */

.edit-button {
  color: var(--ft-grey-200);
  background-color: var(--ft-grey-400);

  margin-left: 1rem;

  border: none;
  padding: .250rem .500rem;
  box-sizing: border-box;
  margin: 0 .500rem;
  border-radius: .125rem;
  cursor: pointer;
}

.edit-button:hover {
  opacity: .9;
}

/* Locked overlay */

.panel-locked-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;
  background-color: var(--ft-uic-form-step-overlay-background);
}

.panel-content-wrap {
  position: relative;
}

/* Has transitions */

.panel-header-icon::before,
.panel-header-icon::after,
.panel-header-icon,
.panel-top {
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

/* Icon */

.icon-unlocked { color: var(--ft-icon-color); margin-left: 1rem; }
.icon-locked { color: var(--ft-grey-500); }
.icon-danger { color: var(--ft-red-300); }

/* Helpers */

:host([disabled]) ::slotted(*),
:host([editable]) ::slotted(*),
:host([locked]) ::slotted(*),
:host([loading]) ::slotted(*) {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .8;
}

:host([disabled]) .panel-content-wrap,
:host([editable]) .panel-content-wrap,
:host([locked]) .panel-content-wrap,
:host([loading]) .panel-content-wrap {
  pointer-events: none !important;
  user-select: none !important;
}

.icon-false {
  padding-left: .875rem;
}

[hidden] { display: none !important; }