:host {
  position: static;
}

/* Icons */
.picker-icon {
  color: var(--ft-icon-color);
  font-size: 1rem;
  width: 22px;
  height: 22px;

  @apply --ft-uic-datepicker-button-mixin;
  display: flex;
  align-items: center;
  cursor: pointer;
}

:host([required]) label::after {
  content: " *";
}

.picker-icon.ico-reject {
  font-size: .750rem;
}

:host([disabled]) iron-dropdown,
:host([disabled]) iron-dropdown,
:host([disabled]) #togglePicker,
:host([readonly]) #togglePicker,
:host([disabled]) #clearInput,
:host([readonly]) #clearInput {
  display: none !important;
}

/* Input elements wrapper */

.input-options {
  position: absolute;
  right: .125rem;
  top: calc(50% - 11px);

  /* @apply --layout-horizontal; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  /* @apply --layout-justified; */
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  /* @apply --layout-center; */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.dot-flashing-container {
  position: absolute;
  top: calc(50% - 3px);
  left: 20px;
}

.is-loading-true {
  cursor: default !important;
}

.is-loading-true input {
  visibility: hidden;
}

.input-field {
  position: relative;
}

/* Firefox sets a min-width on the input, which can cause layout issues */
.input-field ::slotted(input) {
  min-width: 0;
  margin: 0;
}

.input-field ::slotted(textarea) {
  resize: none;
}

/* New */

[slot="dropdown-content"] {
  background-color: var(--ft-uic-date-input-dropdown-background, #fff) !important;
  box-shadow: var(--ft-uic-date-input-dropdown-box-shadow, rgba(0,0,0,0.2) 0 2px 4px) !important;
  line-height: 20px;
  border-radius: 3px;
  box-shadow: 0px 2px 6px #ccc;
  width: 334px;
  height: 318px;
}

.form-control {
  display: none;
}

.flatpickr-calendar {
  margin: 0 auto;
}

.number-input {
  position: relative;
}

.number-input-controls {
  position: absolute;
  right: 8px;
  top: 10px;
  z-index: 1;
  width: 48px;
  height: 22px;
  display: flex;
  justify-content: space-between;
}

.number-input-controls button {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  color: var(--primary);
  background: none;
}

.number-input-controls button:hover {
  background: rgba(0,0,0,.1);
}

.number-input-controls button:hover {
  opacity: .8;
  cursor: pointer;
}

.extended-date {
  position: absolute;
  top: 6px;
  left: 8px;
  width: calc(100% - 22px);
  padding: 2px;
  pointer-events: none;

  font-weight: 500;
  font-size: .750rem;
  color: var(--ft-grey-400);
  background: var(--ft-uic-input-background, #fff);
}

button {
  font-family: inherit;
}
