.host[prefixed-colors] .ico-payments { color: var(--ft-icon-payments); }
.host[prefixed-colors] .ico-bank { color: var(--ft-icon-bank); }
.host[prefixed-colors] .ico-country { color: var(--ft-icon-country); }
.host[prefixed-colors] .ico-legal-entity { color: var(--ft-icon-legal-entity); }
.host[prefixed-colors] .ico-credit-transfer { color: var(--ft-icon-credit-transfer); }
.host[prefixed-colors] .ico-account-type { color: var(--ft-icon-account-type); }
.host[prefixed-colors] .ico-bic11 { color: var(--ft-icon-bic11); }
.host[prefixed-colors] .ico-user { color: var(--ft-icon-user); }
.host[prefixed-colors] .ico-user-groups { color: var(--ft-icon-user-groups); }
.host[prefixed-colors] .ico-school { color: var(--ft-icon-school); }
.host[prefixed-colors] .ico-spa { color: var(--ft-icon-spa); }
.host[prefixed-colors] .ico-brightness-low { color: var(--ft-icon-brightness-low); }

.host[xxs] i { font-size: .750rem !important; }
.host[xs]  i { font-size: 1rem !important; }
.host[sm]  i { font-size: 2rem !important; }
.host[md]  i { font-size: 3rem !important; }
.host[lg]  i { font-size: 4rem !important; }
.host[hidden] {
  display: none !important;
}
