 /* grip-table-drag */

 .grip-table-drag {
  table-layout: fixed;
}

.grid-table-drag>tbody>tr *:not(button):focus,
.grid-table-drag>tbody>tr *:not(button):active {
  outline: none !important;
  border: none !important;
}

.grid-table-drag>tbody>tr>th {
  text-align: left;
  position: relative;
  height: var(--row-header-height);
  border-bottom: solid 1px transparent;
  box-sizing: border-box;
}

.grid-table-drag>tbody>tr>th > span {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: inherit;
  z-index: 1;
}

/* .grid-table-drag>tbody>tr>th:hover > span {
  transition: background-color 0.3s;
  background-color: rgba(0,0,0,.1);
} */

.grid-table-drag>tbody>tr>th:hover > span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  z-index: 4;
  background: var(--ft-icon-color);
}

/* grip-container */

.grip-container {
  height: 0px;
  position: relative;
}

.grip-container * {
  outline: none !important;
  border: none !important;
}

/* grip-handle */

.grip-handle {
  position: absolute;
  z-index: 5;
  width: 10px;
  height: var(--row-header-height) !important;
  cursor: col-resize;
  margin-left: -5px;
}

.grip-handle.grip-disabledgrip .grip-resizable {
  cursor: default;
  display: none;
  outline: none;
}

.grip-handle .grip-resizable {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 9px;
  height: 100%;
  background: none !important;
}

.grip-handle .grip-resizable::before {
  content: '';
  width: 1px;
  height: var(--row-header-height) !important;
  background-color: var(--ft-grid-border-color);
  position: absolute;
  left: 4px;
  top: 0;
}

.grip-handle:active .grip-resizable::before,
.grip-handle:focus .grip-resizable::before,
.grip-handle:hover .grip-resizable::before {
  background-color: var(--ft-icon-color);
}


.grip-lastgrip {
  position: absolute;
  width: 1px;
}

.grip-drag {
  border-left: 1px dotted black;
}

.grid-table-drag {
  border-collapse: collapse;
  min-width: auto !important;
  width: auto !important;
}

.grid-table-drag-container {
  display: block;
  position: relative;
}

.drag-over {
  position: relative;
}

.drag-over::after {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(50% - 5px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: var(--ft-icon-color) transparent transparent transparent;
}

.has-ghost {
  opacity: .3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
