:host {
  display: inline-block;
  padding: 0;
  color: var(--ft-grey-300);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host(.iron-selected),
:host(.iron-selected) > a,
:host(.iron-selected) > div {
  color: var(--ft-app-text-color);
}

/* Item */

.nav-item {
  position: relative;
  height: 100%;

  /* @apply --layout; */
  display: flex;

  /* @apply --layout-justified; */
  justify-content: space-between;

  /* @apply --layout-center-center; */
  align-items: center;
  justify-content: center;

  @apply --ft-tab-bar-text;
}

/* Item iron-selected state */

:host(.iron-selected) .nav-item::after {
  content: '';
  width: 88%;
  height: 10px;
  border-radius: 10px;
  background: var(--ft-uic-tabs-line-color);
  position: absolute;
  bottom: -6px;
  left: 6%;
}

/* Item textual content styleing */

.nav-item {
  padding: 0.75rem 1rem;
  cursor: pointer;
  box-sizing: border-box;

  color: inherit !important;
  text-decoration: inherit !important;
  outline: none !important;

  /* @apply --layout-flex-auto; */
  flex: 1 1 auto;
}

/* Item hover/active state */

.nav-item:active,
.nav-item:hover {
  opacity: 0.8;
}
