@import 'ft-utils-text-typography.css';
@import 'ft-button.css';
@import 'ft-uif-icons-font.css';
@import 'ft-css-icons.css';
@import 'ft-layout.css';

.list-container {
  /* @apply --layout; */
  display: flex;
  /* @apply --layout-center-justified; */
  justify-content: center;

}

/* -----------------------------------------------------------------------
Account details List / Item
----------------------------------------------------------------------- */
.list {
  font-size: .875rem;
  width: 100%;
  border-left: solid 1px var(--ft-tablezebra-background);

  -ms-flex-item-align: stretch;
  align-self: stretch;

  --ft-layout-padding: 0;
}

.item {
  padding: var(--as-flex-table-padding, .375rem .500rem);
  box-sizing: border-box;
  /* @apply --layout; */
  display: flex;
}

.item:nth-child(2n) {
  background-color: var(--ft-tablezebra-background);
}

/* -----------------------------------------------------------------------
Account details key / value
----------------------------------------------------------------------- */

.list,
.item-key,
.item-value {
  overflow: hidden;
  word-wrap: break-word;
  font-size: var(--font-size-xs);
}

.item-key {
  font-weight: 700;
}

.item-change {
  text-align: center;
}

/* -----------------------------------------------------------------------
Account details Image or Icon
----------------------------------------------------------------------- */

.list-icon,
.list-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;

  text-align: center;
  margin-top: 12px;
  margin-bottom: 24px;

  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.list-icon {
  /* @apply --layout; */
  display: flex;
  /* @apply --layout-center-justified; */
  justify-content: center;
}

.list-icon i {
  text-align: center;
  font-size: 38px;
  color: var(--ft-app-text-color-reverse);
  background: var(--ft-icon-color);
  border-radius: 50%;
  height: 74px;
  width: 74px;
  text-align: center;

  /* @apply --layout; */
  display: flex;
  /* @apply --layout-center-center; */
  align-items: center;
  justify-content: center;
}

.list-image img {
  width: 72px;
  border: solid 2px var(--ft-tablezebra-background);
}


/* -----------------------------------------------------------------------
List content
----------------------------------------------------------------------- */

.list-content {
  width: 100%;
  padding-right:8px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}


.list-content-line,
.list-content-line > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* -----------------------------------------------------------------------
Account card
----------------------------------------------------------------------- */

ft-uic-card {
  height: 60px;
  width: 100%;
  overflow: hidden;
  font-size: var(--font-size-xs);
  /* @apply --layout; */
  display: flex;
  /* @apply --layout-center; */
  align-items: center;
}

ft-uic-card:nth-child(2n) {
  background-color: var(--ft-tablezebra-background);
}

.list-content .list-type-Image { display: none !important; }

.list-card-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  text-align: center;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;

  /* @apply --layout; */
  display: flex;
  /* @apply --layout-center-center; */
  align-items: center;
  justify-content: center;
}

.list-card-image img {
  width: 40px;
  height: auto;
}

.list-content-line:nth-child(2),
.list-content-line:nth-child(3) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
}

.list-content-line:nth-child(4),
.list-content-line:nth-child(5) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}

/* div:nth-child(1) = image */
.list-content-line:nth-child(2),
.list-content-line:nth-child(4) {
  font-weight: 700;
}

.list-content-line:nth-child(4),
.list-content-line:nth-child(5) {
  text-align: right;
}

.list-content-line:nth-child(2) { order: 1; }
.list-content-line:nth-child(3) { order: 3; }
.list-content-line:nth-child(4) { order: 2; }
.list-content-line:nth-child(5) { order: 4; }

.list-content-line:first-of-type,
.list-content-line:nth-child(2) {
  font-weight: 700;
}


/* -----------------------------------------------------------------------
Helpers
----------------------------------------------------------------------- */

[hidden] {display: none !important;}