@import "ft-loaders.css";
/* @import "ft-ico-font.css"; rename ft-uif-icons-font.css*/
@import "ft-uif-icons-font.css";
@import "ft-button.css";
@import "ft-pure-checkbox.css";
@import "ft-utils-display.css";
@import "ft-css-icons.css";
@import "iron-flex.css";
@import "iron-flex-factors.css";

:host([no-placeholder]) {
  height: 0 !important;
  min-height: 0 !important;
}

:host([invalid]) .error-message {
  visibility: visible;
}

:host([required]) .selector-label::after {
  content: " *";
}

/* Single line */

:host {
  margin-bottom: 1px;
  /* background: lime; */
  --multi-line-offset: 0px;
  --app-input-area-height: var(--app-input-area-height-lg);
  min-height: calc(var(--app-input-area-height) + var(--multi-line-offset));
}

:host(:not([multi-line])[no-float-label]) {
  --multi-line-offset: 30px;
  --app-input-area-height: var(--app-input-area-height-sm);
}

:host(:not([multi-line])[no-float-label][hide-error-message]) {
  --multi-line-offset: 12px;
  --app-input-area-height: var(--app-input-area-height-sm);
}

:host(:not([multi-line])[hide-error-message]) {
  --multi-line-offset: 0px;
  --app-input-area-height: var(--app-input-area-height-md);
}


/* Multiline */

:host([multi-line]) { --multi-line-offset: 30px; }
:host([multi-line][no-float-label]) { --multi-line-offset: 0px; }
:host([multi-line][hide-error-message]) { --multi-line-offset: 18px; }
:host([multi-line][no-float-label][hide-error-message]) { --multi-line-offset: 0px; }


/* Placeholder height */

:host([disable-show-clear]) .selector-placeholder {
  padding: 0.25rem 2rem 0.25rem 0.5rem;
}

:host .selector-placeholder {
  height: var(--app-input-area-height-sm, 30px);
}

:host([multi-line]) .selector-placeholder {
  height: var(--app-input-area-height-md, 58px);
}


/* As nav element */

:host([as-nav-element]) {
  padding: 0;
  min-height: var(--app-input-area-height-sm, 30px);
  min-width: var(--app-input-area-min-width, 300px);
  max-width: var(--app-input-area-max-width, 300px);
}

:host([as-nav-element]) .selector-placeholder {
  background: none !important;
  box-shadow: none !important;
  padding: 0.25rem 3.25rem 0.25rem 0.125rem;

  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

:host([as-nav-element]) .error-message,
:host([as-nav-element]) .selector-label {
  display: none !important;
}

:host([as-nav-element]) .selector-placeholder:hover {
  background: var(--ft-uic-filter-background-hover) !important;
}

/* readonly */

.readonly-icon {
  position: absolute;
  top: calc(50% - 0.5rem);
  right: 0.5rem;
  color: var(--ft-grey-400);
  font-size: 0.938rem;
  line-height: 1;
  display: none;
}

:host([readonly]) .readonly-icon {
  display: block;
}

:host([readonly]) .selector-placeholder {
  background: var(--ft-uic-input-readonly-background, #fff) !important;
  color: var(--ft-uic-input-readonly-color, #8f8f8f) !important;
  filter: grayscale(100%);
}

:host([readonly]) .selector-placeholder-text {
  color: var(--ft-uic-input-readonly-color, #8f8f8f);
}

/* ft-uic-input-container */

.ft-pure-checkbox {
  margin-right: 4px;
}

ft-uic-input-container {
  position: relative;
}

input::-ms-clear {
  display: none;
}

/* Error message (custom) */

.error-message {
  display: inline-block;
  visibility: hidden;
  color: var(--ft-uic-input-error-color, indianred);

  position: absolute;
  left: 0;
  right: 0;

  /* @apply --ft-uic-addressbook-selector-error-text; */
  font-size: var(--ft-app-font-size);
  font-weight: 400;
}

/* Icons */

.placeholder-icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  z-index: 1;
  pointer-events: none;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  font-size: 1rem;
  color: var(--ft-bank-account-elements-icon-color);
}

:host([readonly]) .placeholder-icon {
  color: var(--ft-bank-account-elements-icon-color) !important;
}

/*  */

.clear-icon {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  cursor: pointer;
  font-size: 0.75rem;
  color: var(--ft-bank-account-elements-icon-color);
}

.clear-icon-b { right: 28px; }
.clear-icon-a { right: 8px; }

/* Selector */

.selector-container {
  position: relative;
}

:host([invalid]) .selector-container label {
  color: var(--ft-uic-input-container-invalid-color, indianred);
}

.selector-container label {
  display: block;
  padding: 4px 0 2px 0;
  /* @apply --ft-uic-input-container-label; */
  /* applied from light theme */
  color: var(--ft-grey-300);
  font-size: var(--ft-app-font-size);
  text-transform: uppercase;
  font-weight: 500;
}

.selector-placeholder {
  position: relative;

  color: var(--ft-search-results-placeholder-color);
  background-color: var(--ft-search-results-placeholder-background);
  box-shadow: var(--ft-uic-input-container-input-box-shadow);

  display: block;
  padding: 0 3.25rem 0 0.125rem;
  box-sizing: border-box;
  border-radius: 0.125rem;
  cursor: pointer;

  font-size: 0.75rem;
  font-weight: 400;
  /* line-height: 30px; */
  color: var(--ft-app-text-color);

  /* @apply --layout; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* @apply --layout-center; */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.selector-placeholder-text {
  display: inline-block;
  color: var(--ft-grey-400);
  font-weight: var(--ft-app-font-weight);
  font-size: var(--ft-app-font-size);

  /* @apply --layout-horizontal; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  /* @apply --layout-center; */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

i {
  margin: 0 8px;
  font-size: 1rem;
  color: var(--ft-icon-color);
}

.i-action:hover {
  cursor: pointer;
  opacity: .8;
}

.primary {
  color: var(--ft-icon-color);
}

.selected-text-color {
  color: var(--ft-app-text-color) !important;
}

.selector-placeholder-container {
  position: relative;
}

/* Selection tools */

.selector-tools {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  background-color: var(--ft-dialog-search-background);
  border-bottom: solid 1px var(--ft-dialog-search-border-color);
  font-size: 0.75rem;

  -webkit-box-flex: 0;
  -ms-flex: 0 0 34px;
  flex: 0 0 34px;
  max-height: 34px;

  /* @apply --layout-horizontal; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.selector-tools-helptext {
  opacity: 0.8;
  width: 100%;

  /* @apply --layout-horizontal; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  /* @apply --layout-justified; */
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/* Dialog header */

.selector-header {
  background-color: var(--ft-dialog-search-background);
  border-bottom: solid 1px var(--ft-dialog-search-border-color);
  height: 34px;
  /* @apply --layout-horizontal; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.selector-header > div:not(:last-of-type) {
  padding-right: 0.5rem;
}

.selector-header ft-uic-filter-dropdown,
.selector-header ft-uic-input-container {
  /* height: 30px; */
  /* @apply --layout-flex-auto; */
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.selector-header iron-input,
.selector-header > paper-input-container {
  padding: 0;
  margin: 0;
}

.selector-header iron-input {
  width: 100%;
}

.selector-header > div.ft-dialog-search-filter {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 46px;
  flex: 0 0 46px;

  /* @apply --layout; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* @apply --layout-justified; */
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.selector-header input::-webkit-input-placeholder {
  color: var(--ft-app-placeholder-text-color);
}
.selector-header input::-moz-placeholder {
  color: var(--ft-app-placeholder-text-color);
}
.selector-header input:-ms-input-placeholder {
  color: var(--ft-app-placeholder-text-color);
}
.selector-header input:-moz-placeholder {
  color: var(--ft-app-placeholder-text-color);
}

.selector-header input {
  display: block;

  border-radius: none;
  box-shadow: none;
  box-sizing: border-box;
  background: none;
  border: none;
  outline: none;
  font-family: inherit;

  --app-input-height: 34px;
  --app-input-padding: 0 .625rem 0 2.500rem;

  color: var(--ft-app-text-color, #000);
  width: var(--app-input-width, 100%);
  /* height: var(--app-input-height, 30px); */
  height: 34px;
  font-size: var(--app-input-font-size, inherit);
  line-height: var(--app-input-line-height, normal);
  font-weight: var(--app-input-font-weight, 400);
  /* padding: var(--app-input-padding, 0 .625rem); */
  padding: 0 .625rem 0 2.500rem;
}

.selector-header-icon {
  position: absolute;
  font-size: 1rem;
  left: 1rem;
  top: 50%;
  color: var(--ft-icon-color);

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Content */

.selector-content-slot {
  position: relative;
  height: 100%;
  overflow: auto;
  /* @apply --layout-horizontal; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  /* @apply --layout-justified; */
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

:host([scroll-disabled]) {
  overflow: hidden !important;
}

/* Dialog settings content container */

.body-container {
  position: relative;
  flex-grow: 1;
  /* @apply --layout-vertical; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* Filter container */

.filter-container {
  -ms-flex-preferred-size: 220px;
  flex-basis: 220px;
  max-width: 220px;
  background-color: var(--ft-dialog-filter-background);
  border-left: solid 1px var(--ft-dialog-filter-border-color);
}

@media (max-width: 1024px) {
  .filter-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    height: 100%;
  }
}

@media (min-width: 1025px) {
  .custom-footer-btn {
    display: none !important;
  }
}

/* Filter header */

.filter-header {
  display: block;
  padding: 0 0 0 0.5rem;
  height: 34px;
  border-bottom: solid 1px var(--ft-dialog-filter-border-color);
  /* @apply --layout-horizontal; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  /* @apply --layout-justified; */
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  /* @apply --layout-center; */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.custom-filter-button {
  font-weight: 700;
  padding: 0.125rem 0.5rem;
  margin: 0;
  color: var(--primary);
}

@media (min-width: 1025px) {
  .custom-filter-button {
    display: none;
  }
}

.filter-container ft-uic-filter-dropdown {
  border-bottom: solid 1px var(--ft-dialog-filter-border-color);
}

/* Results */

.search-results {
  width: 100%;
  height: 100%;
  background-color: var(--ft-dialog-search-background);

  /* @apply --layout-vertical; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;

  /* @apply --layout-center-center; */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* List */

.iron-list-container,
ft-uic-listbox {
  outline: none !important;
}

.iron-list-container {
  overflow-y: auto;
  padding: 0;
  box-sizing: border-box;
}

.iron-list-suggestions {
  height: 280px;
}

.selector-tools .checkbox-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 28px;
  flex: 0 0 28px;
}

/* Custom checkmark/checkbox */

#toggleCheckbox[disabled] {
  pointer-events: none;
}

/* Pagination */

.selector-pagination {
  border-top: solid 1px var(--ft-grid-border-color);
  background-color: var(--ft-dialog-filter-background);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 34px;
  flex: 0 0 34px;
  height: 34px;
  padding: 0 1rem;
  font-size: 0.75rem;

  /* @apply --layout-justified; */
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.selector-pagination,
.pagination-numbers {
  /* @apply --layout; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* @apply --layout-center; */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* Numeral container */

.pagination-numbers > span {
  font-weight: 700;
  min-width: 20px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin: 0 1px;
  color: var(--ft-muted-color);
}

.pagination-numbers > span.selected {
  color: var(--ft-icon-color);
}

/* Icon link */

.arrow-icon {
  font-size: 1rem;
  padding: 0.25rem;
  color: var(--ft-icon-color);
}

.arrow-icon:hover {
  background-color: var(--ft-uic-grid-icon-link-hov, rgba(0, 0, 0, 0.1));
}
