@import "utils.css";
/* Padding Utils */

.u-border-box {
  box-sizing: border-box;
}

.u-p-0 {
  padding: 0 !important;
}
.u-p-05 {
  padding: calc(var(--spacer-horizontal) / 2);
}
.u-p-1 {
  padding: var(--spacer-horizontal);
}
.u-p-2 {
  padding: calc(var(--spacer-horizontal) * 2);
}
.u-p-3 {
  padding: calc(var(--spacer-horizontal) * 3);
}
.u-p-4 {
  padding: calc(var(--spacer-horizontal) * 4);
}
.u-p-5 {
  padding: calc(var(--spacer-horizontal) * 5);
}
.u-p-6 {
  padding: calc(var(--spacer-horizontal) * 6);
}

.u-pt-0 {
  padding-top: 0 !important;
}
.u-pt-05 {
  padding-top: calc(var(--spacer-horizontal) / 2);
}
.u-pt-1 {
  padding-top: var(--spacer-horizontal);
}
.u-pt-2 {
  padding-top: calc(var(--spacer-horizontal) * 2);
}
.u-pt-3 {
  padding-top: calc(var(--spacer-horizontal) * 3);
}
.u-pt-4 {
  padding-top: calc(var(--spacer-horizontal) * 4);
}
.u-pt-5 {
  padding-top: calc(var(--spacer-horizontal) * 5);
}
.u-pt-6 {
  padding-top: calc(var(--spacer-horizontal) * 6);
}

.u-pb-0 {
  padding-bottom: 0 !important;
}
.u-pb-05 {
  padding-bottom: calc(var(--spacer-horizontal) / 2);
}
.u-pb-1 {
  padding-bottom: var(--spacer-horizontal);
}
.u-pb-2 {
  padding-bottom: calc(var(--spacer-horizontal) * 2);
}
.u-pb-3 {
  padding-bottom: calc(var(--spacer-horizontal) * 3);
}
.u-pb-4 {
  padding-bottom: calc(var(--spacer-horizontal) * 4);
}
.u-pb-5 {
  padding-bottom: calc(var(--spacer-horizontal) * 5);
}
.u-pb-6 {
  padding-bottom: calc(var(--spacer-horizontal) * 6);
}

.u-pr-0 {
  padding-right: 0 !important;
}
.u-pr-05 {
  padding-right: calc(var(--spacer-horizontal) / 2);
}
.u-pr-1 {
  padding-right: var(--spacer-horizontal);
}
.u-pr-2 {
  padding-right: calc(var(--spacer-horizontal) * 2);
}
.u-pr-3 {
  padding-right: calc(var(--spacer-horizontal) * 3);
}
.u-pr-4 {
  padding-right: calc(var(--spacer-horizontal) * 4);
}
.u-pr-5 {
  padding-right: calc(var(--spacer-horizontal) * 5);
}
.u-pr-6 {
  padding-right: calc(var(--spacer-horizontal) * 6);
}

.u-pl-0 {
  padding-left: 0 !important;
}
.u-pl-05 {
  padding-left: calc(var(--spacer-horizontal) / 2);
}
.u-pl-1 {
  padding-left: var(--spacer-horizontal);
}
.u-pl-2 {
  padding-left: calc(var(--spacer-horizontal) * 2);
}
.u-pl-3 {
  padding-left: calc(var(--spacer-horizontal) * 3);
}
.u-pl-4 {
  padding-left: calc(var(--spacer-horizontal) * 4);
}
.u-pl-5 {
  padding-left: calc(var(--spacer-horizontal) * 5);
}
.u-pl-6 {
  padding-left: calc(var(--spacer-horizontal) * 6);
}

/* both axis */

.u-px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.u-px-05 {
  padding-left: calc(var(--spacer-horizontal) / 2);
  padding-right: calc(var(--spacer-horizontal) / 2);
}
.u-px-1 {
  padding-left: var(--spacer-horizontal);
  padding-right: var(--spacer-horizontal);
}
.u-px-2 {
  padding-left: calc(var(--spacer-horizontal) * 2);
  padding-right: calc(var(--spacer-horizontal) * 2);
}
.u-px-3 {
  padding-left: calc(var(--spacer-horizontal) * 3);
  padding-right: calc(var(--spacer-horizontal) * 3);
}
.u-px-4 {
  padding-left: calc(var(--spacer-horizontal) * 4);
  padding-right: calc(var(--spacer-horizontal) * 4);
}
.u-px-5 {
  padding-left: calc(var(--spacer-horizontal) * 5);
  padding-right: calc(var(--spacer-horizontal) * 5);
}
.u-px-6 {
  padding-left: calc(var(--spacer-horizontal) * 6);
  padding-right: calc(var(--spacer-horizontal) * 6);
}

.u-py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.u-py-05 {
  padding-top: calc(var(--spacer-horizontal) / 2);
  padding-bottom: calc(var(--spacer-horizontal) / 2);
}
.u-py-1 {
  padding-top: var(--spacer-horizontal);
  padding-bottom: var(--spacer-horizontal);
}
.u-py-2 {
  padding-top: calc(var(--spacer-horizontal) * 2);
  padding-bottom: calc(var(--spacer-horizontal) * 2);
}
.u-py-3 {
  padding-top: calc(var(--spacer-horizontal) * 3);
  padding-bottom: calc(var(--spacer-horizontal) * 3);
}
.u-py-4 {
  padding-top: calc(var(--spacer-horizontal) * 4);
  padding-bottom: calc(var(--spacer-horizontal) * 4);
}
.u-py-5 {
  padding-top: calc(var(--spacer-horizontal) * 5);
  padding-bottom: calc(var(--spacer-horizontal) * 5);
}
.u-py-6 {
  padding-top: calc(var(--spacer-horizontal) * 6);
  padding-bottom: calc(var(--spacer-horizontal) * 6);
}
