.widget-container {
  position: relative;
  display: block;

  /* margin-left: -8px; */
  width: calc(100% + 16px);
  min-height: 1px;
  height: 100%;

  /* @apply --layout-horizontal; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  /* @apply --layout-wrap; */
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.widget-item {
  display: block !important;
  width: 100%;
  box-sizing: border-box;
  opacity: 1;
}

.hide {
  opacity: 0;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

@supports (grid-gap: 20px 16px) {
  .widget-item .widget {
    width: 100%;
  }
}

@supports not (grid-gap: 20px 16px) {
  .widget-item .widget {
    width: calc(100% - 6px);
  }
}

/* IE 11 */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .widget-item .widget {
    width: calc(100% - 16px);
    margin-bottom: 16px;
  }
}

@media(min-width: 993px) {
  .max-cols-1 .widget-item {
    -webkit-box-flex: 1;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    width: 100%;
  }
  .max-cols-2 .widget-item {
    -webkit-box-flex: 1;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    width: 100%;
  }
  .max-cols-3 .widget-item {
    -webkit-box-flex: 1;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    width: 50%;
  }
}

@media(min-width: 1510px) {
  .max-cols-1 .widget-item {
    -webkit-box-flex: 1;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    width: 100%;
  }
  .max-cols-2 .widget-item {
    -webkit-box-flex: 1;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    width: 50%;
  }
  .max-cols-3 .widget-item {
    -webkit-box-flex: 1;
    -ms-flex: 0 1 33.333336%;
    flex: 0 1 33.333336%;
    width: 33.333336%;
  }
}

/* Helpers */
.ico-link {
  color: var(--ft-icon-color);
}

.is-no-link .ico-link {
  display: none;
}

.is-link {
  cursor: pointer;
}

.is-link:hover {
  opacity: .8;
}

[hidden] { display: none !important; }

ft-uic-widget-content-container, ft-uic-panel-content-container {
  position: relative;
  /** this makes the content flex 100% in height */

  /* @apply --layout-flex; */
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

/* Animate */

.animate__animated {
  z-index: 0;
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomOutDown {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomOutDown {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.animate__zoomOutDown {
  -webkit-animation-name: zoomOutDown;
  animation-name: zoomOutDown;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

/* moved here from ft-uic-panel-container to prevent purging */

.ft-filter-container {
  margin-bottom: 1.500rem;
}

.ft-filter-container slot[name="panel-path"] {
  margin-left: 0 !important;
}

.ft-filter-container slot[name="panel-container-toolbar"] {
  /* @apply --layout; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* @apply --layout-center; */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* CSS GRID */

.grid {
  position: relative;
}

.grid.is-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 1fr));
  grid-gap: 20px 16px;
}

@media(min-width: 1140px) {
  .grid.is-grid.grid-max-cols-1 {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }

  .grid.is-grid.grid-max-cols-2 {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }

  .grid.is-grid.grid-max-cols-3 {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .widget-item-1 {
    grid-column: span 1;
  }

  .widget-item-2 {
    grid-column: span 2;
  }

  .widget-item-3 {
    grid-column: span 3;
  }
}

@media(min-width: 1440px) {
  .grid.is-grid.grid-max-cols-1 {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }

  .grid.is-grid.grid-max-cols-2 {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .grid.is-grid.grid-max-cols-3 {
    grid-template-columns: repeat(3, minmax(400px, 1fr));
  }

  .widget-item-1 {
    grid-column: span 1;
  }

  .widget-item-2 {
    grid-column: span 2;
  }

  .widget-item-3 {
    grid-column: span 3;
  }
}

/* CSS FLEXBOX */

.grid.is-flex {
  /* @apply --layout-horizontal; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  /* @apply --layout-wrap; */
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.grid.is-flex .widget-item {
  -webkit-box-flex: 1;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  width: 100%;
}

@media(min-width: 1140px) {
  .grid.is-flex.grid-max-cols-1 .widget-item {
    -webkit-box-flex: 1;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    width: 100%;
  }

  .grid.is-flex.grid-max-cols-2 .widget-item {
    -webkit-box-flex: 1;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    width: 100%;
  }

  .grid.is-flex.grid-max-cols-3 .widget-item {
    -webkit-box-flex: 1;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    width: 50%;
  }
}

@media(min-width: 1440px) {
  .grid.is-flex.grid-max-cols-1 .widget-item {
    -webkit-box-flex: 1;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    width: 100%;
  }

  .grid.is-flex.grid-max-cols-2 .widget-item {
    -webkit-box-flex: 1;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    width: 50%;
  }

  .grid.is-flex.grid-max-cols-3 .widget-item {
    -webkit-box-flex: 1;
    -ms-flex: 0 1 33.333336%;
    flex: 0 1 33.333336%;
    width: 33.333336%;
  }
}

/* Dragging part */

:host([dragging]) ::slotted(*),
:host(:not([handler])) ::slotted(*) {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#ghost {
  background: rgb(0 0 0 / 5%);
}

.item--over {
  opacity: .2 !important;
}

.item--dragged {
  position: fixed !important;
  z-index: 10 !important;
  opacity: 1 !important;
  filter: grayscale(0%) !important;
}

.item--transform {
  position: absolute;
  z-index: 1;
  top: 0;

  will-change: transform;
  transition: transform 0.2s cubic-bezier(0.333, 0, 0, 1);
  filter: grayscale(80%);
  opacity: .9;
}

.item--pressed {
  opacity: 1 !important;
  transition: none !important;
}