.ft-context-item {
  background: none;
  border: none;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;

  margin: var(--ft-uic-context-item-margin, 0 2px);

  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;

  /* @apply --layout; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* @apply --layout-center-center; */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.ft-context-item:active,
.ft-context-item:focus {
  outline: none;
}

.ft-context-item:active,
.ft-context-item:focus,
.ft-context-item:hover {
  border-radius: var(--ft-uic-context-menu-border-radius, 4px);
  background-color: var(--ft-uic-context-menu-background-hover, var(--ft-grey-200));
  cursor: pointer;
}

.ft-context-item:active > i,
.ft-context-item:focus > i,
.ft-context-item:hover > i {
  color: var(--ft-uic-context-menu-icon-color-hover, var(--ft-icon-color));
}

.ft-context-item:active::after,
.ft-context-item:focus::after,
.ft-context-item:hover::after {
  border-color: var(--ft-uic-context-menu-icon-color-hover, var(--ft-icon-color)) transparent transparent transparent;
}

.ft-context-item:active::before,
.ft-context-item:focus::before,
.ft-context-item:hover::before {
  --ft-uic-context-menu-icon-color: var(--ft-uic-context-menu-icon-color-hover, var(--ft-icon-color));
}

.ft-context-item,
.ft-context-item > i {
  height: var(--ft-uic-ft-context-item-height, 34px);
  min-width: var(--ft-uic-ft-context-item-width, 34px);
}

.ft-context-item > i {
  display: block;
  font-size: var(--ft-uic-context-menu-icon-size, 16px);
  line-height: var(--ft-uic-ft-context-item-height, 34px) !important;
  color: var(--ft-uic-context-menu-icon-color, var(--ft-grey-600));
}

.is-action-icon-true {
  --ft-uic-context-menu-icon-color: var(--ft-icon-color) !important;
  color: var(--ft-icon-color) !important;
}

.ft-context-item > span {
  color: var(--ft-app-text-color);
  font-size: 0.75rem;
  margin: 0 8px 0 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-action-true span {
  font-weight: 700;
}

/* List */

.ft-context-list {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 100;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 4px;
  box-sizing: border-box;

  width: var(--ft-context-menu-list-width, 168px);
  background-color: var(--ft-context-menu-list-background, var(--ft-grey-50));
  box-shadow: var(--ft-context-menu-list-box-shadow, rgba(0, 0, 0, 0.15) 0 6px 12px);
}

.ft-context-dropdown-responsive .ft-context-item,
.ft-context-list .ft-context-item {
  width: 100% !important;
  /* @apply --layout-start-justified; */
  justify-content: flex-start;
}

/* Heading */

.ft-context-heading {
  color: var(--ft-context-menu-heading-color, var(--ft-grey-400));
  text-transform: uppercase;
  margin: 0 0 4px 0;
  padding: 2px 4px 0 2px;
  font-size: 12px;
  display: block;
}

.ft-context-heading:not(:first-of-type) {
  margin-top: 10px;
}

/* Responive item container (hides on small screens) */

.fixed-context-icons {
  /* @apply --layout; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* @apply --layout-center; */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.context-icons {
  display: none;
}

@media (min-width: 1024px) {
  .context-icons {
    /* @apply --layout; */
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* @apply --layout-center; */
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

/* Dropdown */

.ft-context-container {
  position: relative;
}

.ft-context-menu,
.fixed-context-icons > .ft-context-container,
.context-icons > .ft-context-container {
  width: 39px;
  height: 40px;
  border-left: solid 1px var(--ft-context-menu-border-color, var(--ft-grey-200));
  /* @apply --layout; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* @apply --layout-center-center; */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.is-action-true {
  width: auto !important;
}

.ft-context-container:hover .ft-context-dropdown {
  display: inherit;
}

.ft-context-dropdown,
.ft-context-dropdown-responsive {
  position: absolute;
  top: 0;
  z-index: 100;
  padding: 4px;
  box-sizing: border-box;
  display: none;
  width: 168px;
  background-color: var(--ft-context-menu-list-background, var(--ft-grey-50));
  box-shadow: var(--ft-context-menu-list-box-shadow, rgba(0, 0, 0, 0.15) 0 6px 12px);
}

.submenu-orientation-left .ft-context-dropdown,
.submenu-orientation-left .ft-context-dropdown-responsive {
  left: -168px;
}
.submenu-orientation-right .ft-context-dropdown,
.submenu-orientation-right .ft-context-dropdown-responsive {
  right: -168px;
}

.ft-context-chevron::before {
  content: "";
  position: absolute;
  right: 8px;
  display: block;
  border-right: 2px solid var(--ft-icon-color);
  border-bottom: 2px solid var(--ft-icon-color);
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
}

.ft-context-dropdown-chevron::before {
  content: "";
  position: absolute;
  bottom: 4px;
  right: 4px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: var(--ft-uic-context-menu-icon-color, var(--ft-grey-600)) transparent transparent transparent;
}

/* Helpers */
[hidden] {
  display: none;
}
