@import 'stylesheets/utils.css';

.u-m-05 { margin: calc(var(--spacer-horizontal) / 2); }
u-m-1 { margin: var(--spacer-horizontal); }
            .u-m-2 { margin: calc(var(--spacer-horizontal) * 2); }
            .u-m-3 { margin: calc(var(--spacer-horizontal) * 3); }
            .u-m-4 { margin: calc(var(--spacer-horizontal) * 4); }
            .u-m-5 { margin: calc(var(--spacer-horizontal) * 5); }
            .u-m-6 { margin: calc(var(--spacer-horizontal) * 6); }

            .u-mt-0 { margin-top: 0 !important; }
            .u-mt-05 { margin-top: calc(var(--spacer-horizontal) / 2); }
            .u-mt-1 { margin-top: var(--spacer-horizontal); }
            .u-mt-2 { margin-top: calc(var(--spacer-horizontal) * 2); }
            .u-mt-3 { margin-top: calc(var(--spacer-horizontal) * 3); }
            .u-mt-4 { margin-top: calc(var(--spacer-horizontal) * 4); }
            .u-mt-5 { margin-top: calc(var(--spacer-horizontal) * 5); }
            .u-mt-6 { margin-top: calc(var(--spacer-horizontal) * 6); }

            .u-mb-0 { margin-bottom: 0 !important; }
            .u-mb-05 { margin-bottom: calc(var(--spacer-horizontal) / 2); }
            .u-mb-1 { margin-bottom: var(--spacer-horizontal); }
            .u-mb-2 { margin-bottom: calc(var(--spacer-horizontal) * 2); }
            .u-mb-3 { margin-bottom: calc(var(--spacer-horizontal) * 3); }
            .u-mb-4 { margin-bottom: calc(var(--spacer-horizontal) * 4); }
            .u-mb-5 { margin-bottom: calc(var(--spacer-horizontal) * 5); }
            .u-mb-6 { margin-bottom: calc(var(--spacer-horizontal) * 6); }

            .u-mr-0 { margin-right: 0 !important; }
            .u-mr-05 { margin-right: calc(var(--spacer-horizontal) / 2); }
            .u-mr-1 { margin-right: var(--spacer-horizontal); }
            .u-mr-2 { margin-right: calc(var(--spacer-horizontal) * 2); }
            .u-mr-3 { margin-right: calc(var(--spacer-horizontal) * 3); }
            .u-mr-4 { margin-right: calc(var(--spacer-horizontal) * 4); }
            .u-mr-5 { margin-right: calc(var(--spacer-horizontal) * 5); }
            .u-mr-6 { margin-right: calc(var(--spacer-horizontal) * 6); }

            .u-ml-0 { margin-left: 0 !important; }
            .u-ml-05 { margin-left: calc(var(--spacer-horizontal) / 2); }
            .u-ml-1 { margin-left: var(--spacer-horizontal); }
            .u-ml-2 { margin-left: calc(var(--spacer-horizontal) * 2); }
            .u-ml-3 { margin-left: calc(var(--spacer-horizontal) * 3); }
            .u-ml-4 { margin-left: calc(var(--spacer-horizontal) * 4); }
            .u-ml-5 { margin-left: calc(var(--spacer-horizontal) * 5); }
            .u-ml-6 { margin-left: calc(var(--spacer-horizontal) * 6); }

            /* both axis */

            .u-mx-0 { margin-left: 0 !important; margin-right: 0 !important; }
            .u-mx-05 { margin-left: calc(var(--spacer-horizontal) / 2); margin-right: calc(var(--spacer-horizontal) / 2); }
            .u-mx-1 { margin-left: var(--spacer-horizontal); margin-right: var(--spacer-horizontal); }
            .u-mx-2 { margin-left: calc(var(--spacer-horizontal) * 2); margin-right: calc(var(--spacer-horizontal) * 2); }
            .u-mx-3 { margin-left: calc(var(--spacer-horizontal) * 3); margin-right: calc(var(--spacer-horizontal) * 3); }
            .u-mx-4 { margin-left: calc(var(--spacer-horizontal) * 4); margin-right: calc(var(--spacer-horizontal) * 4); }
            .u-mx-5 { margin-left: calc(var(--spacer-horizontal) * 5); margin-right: calc(var(--spacer-horizontal) * 5); }
            .u-mx-6 { margin-left: calc(var(--spacer-horizontal) * 6); margin-right: calc(var(--spacer-horizontal) * 6); }

            .u-my-0 { margin-left: 0 !important; margin-right: 0 !important; }
            .u-my-05 { margin-top: calc(var(--spacer-horizontal) / 2); margin-bottom: calc(var(--spacer-horizontal) / 2); }
            .u-my-1 { margin-top: var(--spacer-horizontal); margin-bottom: var(--spacer-horizontal); }
            .u-my-2 { margin-top: calc(var(--spacer-horizontal) * 2); margin-bottom: calc(var(--spacer-horizontal) * 2); }
            .u-my-3 { margin-top: calc(var(--spacer-horizontal) * 3); margin-bottom: calc(var(--spacer-horizontal) * 3); }
            .u-my-4 { margin-top: calc(var(--spacer-horizontal) * 4); margin-bottom: calc(var(--spacer-horizontal) * 4); }
            .u-my-5 { margin-top: calc(var(--spacer-horizontal) * 5); margin-bottom: calc(var(--spacer-horizontal) * 5); }
            .u-my-6 { margin-top: calc(var(--spacer-horizontal) * 6); margin-bottom: calc(var(--spacer-horizontal) * 6); }