:host {
  --ft-record-layout-line-height: 1.4;
  --ft-record-layout-font-size: 0.75rem;
}

.ft-records {
  position: relative;
}

.ft-record-row {
  @apply --layout-horizontal;
  @apply --layout-center-aligned;
  @apply --layout-justified;
}

.ft-record-row--vertical {
  @apply --layout-vertical;
}

.ft-record-row > div.ft-record-cell {
  @apply --layout-flex-auto;

  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: var(--ft-record-layout-font-size);
  line-height: var(var(--ft-record-layout-line-height));
}

.ft-record-cell {
  position: relative;
  padding: 0.25rem;
  box-sizing: border-box;
}
/** Align a cell vertically */

.ft-record-cell-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ft-record-header {
  color: var(--ft-record-header-color, #333);
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.ft-records-hover
  .ft-record-content
  > .ft-record-row:not(.ft-record-header):hover
  div.ft-record-cell {
  /* background-color: var(--ft-record-table-cell-hover); */
  opacity: 0.8;
  cursor: pointer;
}

.ft-record-content > div.ft-record-row {
  margin: 0 0.125rem 0.375rem 0.125rem;
  @apply --ft-record-table-row-shadow-mixin;
}

.ft-record-content div.ft-record-cell {
  background-color: var(--ft-record-table-cell);
  min-height: 2rem;
  font-weight: 400;
}

.ft-record-content div.ft-record-cell:first-of-type {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.ft-record-header div.ft-record-cell:first-of-type,
.ft-record-footer div.ft-record-cell:first-of-type,
.ft-record-content div.ft-record-cell:first-of-type {
  padding-left: 1rem;
}

.ft-record-content div.ft-record-cell:last-of-type {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.ft-record-header div.ft-record-cell:last-of-type,
.ft-record-footer div.ft-record-cell:last-of-type,
.ft-record-content div.ft-record-cell:last-of-type {
  padding-right: 1rem;
}

/** small reset to get rid of overflow inline */

.ft-record-cell-text {
  width: 100%;
  text-overflow: initial;
  white-space: initial;
}
/** Respsonsive classes  */

.ft-records {
  overflow-x: auto;
  overflow-y: hidden;
}

.ft-record-mobile-container {
  width: 1170px;
}

@media (min-width: 993px) {
  .ft-records {
    width: 100%;
  }
  .ft-record-mobile-container {
    width: 100%;
    overflow-x: initial;
    overflow-y: initial;
  }
}
/** toolbar */

.ft-records-toolbar {
  position: fixed;
  bottom: 0;
  z-index: 101;
  left: 0;
  right: 0;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--ft-record-toolbar-background);
}
/** checkbox  */

.ft-record-checkbox-container {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--ft-record-checkbox-circle-background);
}

.ft-record-checkbox-container.is-active {
  background-color: var(--ft-record-checkbox-circle-active-background);
}

.ft-record-checkbox-container,
.ft-record-all-selector {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ft-record-all-selector {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border-radius: 50%;
}

.ft-record-checkbox-container paper-checkbox,
.ft-record-all-selector paper-checkbox {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  --paper-checkbox-ink-size: 5rem;
  --paper-checkbox-margin: 0 0 0 0.5rem;
  --paper-checkbox-vertical-align: top;
}

.ft-line {
  background-color: var(--ft-grey-600);
  height: 1px;
  width: 100%;
  display: block;
  padding: 0;
  margin: 2rem 0;
}

/* Cell icon */
.ft-column-icon, /* old name */
      .ft-record-cell-icon {
  position: absolute;
  top: 50%;
  right: 0.375rem;
  transform: translateY(-50%);

  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background: var(--ft-blue-300);

  @apply --layout-vertical;
  @apply --layout-center-center;
}

.ft-column-icon iron-icon,
.ft-record-cell-icon iron-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--ft-white-100);
}

.ft-column-icon ft-uic-icon,
.ft-record-cell-icon ft-uic-icon {
  font-size: 1rem;
  color: var(--ft-white-100);
}

.ft-record-cell-icon--as-avatar {
  overflow: hidden;
  border: solid 2px var(--ft-white-100);
  width: calc(2.75rem - 4px);
  height: calc(2.75rem - 4px);
}

.ft-record-cell-icon--as-avatar iron-image {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.ft-record-all-selector div.half-selector {
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 17px;
  height: 17px;
  border-radius: 0.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  text-align: center;
  line-height: 1rem;
  border: solid 1px var(--ft-record-checkbox-unchecked-color);
  background: var(--ft-record-checkbox-unchecked-color);
}

.ft-record-all-selector div.half-selector::before {
  content: "―";
  color: var(--ft-record-checkbox-ink-color);
}