html {
  --spacer-vertical: 8px;
  --spacer-horizontal: 8px;

  --breakpoint-xs: 30rem; /* 480px */
  --breakpoint-sm: 48rem; /* 768px */
  --breakpoint-md: 64rem; /* 1024px */
  --breakpoint-lg: 75rem; /* 1200px */

  --font-size-lg: 1.125rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;

  --disabled: {
    opacity: 0.6;
    pointer-events: none;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  --font-heading-base: {
    font-weight: 300;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }

  --font-heading-1: {
    font-size: 1.5rem;
  }

  --font-heading-2: {
    font-size: 1.375rem;
  }

  --font-heading-3: {
    font-size: 1.25rem;
  }

  --font-heading-4: {
    font-size: 1.125rem;
  }

  --font-heading-5: {
    font-size: 1rem;
  }

  --font-heading-6: {
    font-size: 1rem;
  }
}
