@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #010b15;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Floating Dots Animation */
.floating-dots {
  position: relative;
  width: 100%;
  height: 100%;
}

.dot {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  animation: float 6s infinite ease-in-out;
}

.dot:nth-child(1) {
  width: 60px;
  height: 60px;
  top: 20%;
  left: 10%;
  animation-delay: 0s;
}

.dot:nth-child(2) {
  width: 80px;
  height: 80px;
  top: 50%;
  left: 30%;
  animation-delay: 2s;
}

.dot:nth-child(3) {
  width: 40px;
  height: 40px;
  top: 70%;
  left: 60%;
  animation-delay: 4s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
.intro-bubble::after {
  content: '';
  border-bottom-left-radius: 45% 20%;
  border-bottom-right-radius: 45% 20%;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  background: linear-gradient(to bottom right, #010b15, rgb(30, 58, 138));
  height: 100%;
}
.bubble::after {
  content: '';
  border-top-left-radius: 12% 6%;
  border-top-right-radius: 40% 2%;
  /* border-bottom-right-radius: 0% 6%;
  border-bottom-left-radius: 40% 4%; */
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  background: linear-gradient(to bottom right, #010b15, rgb(30, 58, 138));
  height: 100%;
}
