@import "color.css";
html.light,
body.light {
  /* GENERAL */
  /* -------------------------------- */

  --primary: var(--ft-blue-300);
  --primary-active-color: var(--ft-grey-900);
  --primary-active-background: var(--ft-yellow-300);
  --primaryLight: var(--ft-blue-100);
  --accentColor: var(--primary);
  --accentColorLight: var(--primaryLight);

  /* GENERAL COLOR CUSTOMISATIONS */
  /* -------------------------------- */

  --ft-app-text-color: var(--ft-grey-900);
  --ft-app-text-color-reverse: var(--ft-white-100);
  --ft-app-placeholder-text-color: var(--ft-grey-700);
  --ft-app-background: var(--ft-grey-100);
  --ft-app-border-color: var(--ft-grey-200);
  --ft-app-background-modal: var(--ft-white-100);

  --ft-app-link-color: var(--primary);
  --ft-app-link-color-hover: var(--primaryLight);

  --ft-icon-color: var(--primary);
  --ft-icon-color-reverse: var(--ft-white-100);
  --ft-icon-button-color: var(--primary);
  --ft-selected-color: var(--primary);

  --divider-color: var(--ft-grey-300);
  --paper-tab-ink: var(--ft-grey-100);

  --disabled-color: var(--ft-grey-200);
  --disabled-background-color: var(--ft-grey-300);

  --ft-button-background: var(--primary);
  --ft-button-color: var(--ft-white-100);
  --ft-button-background-active: var(--accentColor);
  --ft-button-color-active: var(--ft-grey-900);
  --ft-button-color-reverse: var(--primary);
  --ft-button-background-external: var(--ft-white-100);

  --ft-cell-button-background: rgba(0, 0, 0, 0.05);

  --ft-filter-dialog-background: var(--ft-white-100);
  --ft-fx-trade-timer-background: var(--ft-white-100);

  --ft-flatpickr-inactive-color: var(--ft-grey-300);

  /* Focus */
  --ft-focus-background: rgba(0, 0, 0, 0.05);
  --ft-focus-hover: {
    outline: none;
    background-color: var(--ft-focus-background);
    color: var(--ft-focus-color, var(--ft-app-text-color));
    cursor: pointer;
  }

  /* Panels */
  /* --ft-generic-panel-background-color: #353535; */
  /* --ft-generic-panel-secondary-background-color: var(--ft-grey-700); */
  /* --ft-generic-panel-border-color: var(--ft-grey-900); */

  /* Flatpickr */
  --flatpicker-background: #fff;
  --flatpicker-color: #333;
  --flatpicker-color-hover: #4d4d4d;
  --flatpicker-color-inactive: #767676;
  --flatpicker-color-inactive-hover: #4d4d4d;
  --flatpicker-active-color: #333;
  --flatpicker-active-background: #e5e5e5;
  --flatpicker-weekday-color: grey;
  --flatpicker-color-today: #e5e5e5;
  --flatpicker-arrow-color: #e5e5e5;
  --flatpicker-arrow-color-hover: #e5e5e5;
  --flatpicker-muted-color: #c7c7c7;

  /* Skeletons */
  --ft-uic-skeleton-fill: rgba(0, 0, 0, 0.05);
  --ft-uic-grid-row-skeleton-background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.02) 0px,
    rgba(0, 0, 0, ..6) 40px,
    rgba(0, 0, 0, 0.02) 80px
  );

  /* Pure checkbox */
  --ft-pure-checkbox-check-active-background: var(--accentColor);
  --ft-pure-checkbox-check-color: var(--ft-white-100);
  --ft-pure-checkbox-check-background: var(--ft-grey-200);

  /* Progressive S+VG ring  */
  --ft-progressive-ring-stroke-inner: var(--ft-grey-200);

  /* Override Google Material */
  --primary-text-color: var(--ft-grey-600);
  --secondary-text-color: var(--ft-grey-600);
  --disabled-text-color: var(--ft-grey-400);
  --inverted-text-color: var(--ft-grey-400);

  /* overwrites for Paper */
  --error-color: var(--primary-text-color);
  --accent-color: var(--primary-color);

  /* Vaadin datepicker */
  --material-primary-color: var(--primary);

  --ft-listbox-styled-choice-background: var(--ft-white-100);

  --ft-checklist-item-background: rgba(0, 0, 0, 0.02);
  --ft-checklist-item-background-child: rgba(0, 0, 0, 0.01);
  --ft-checklist-inactive-color: rgba(0, 0, 0, 0.1);

  /* STATUS COLORS */
  /* -------------------------------- */

  --ft-status-primary: var(--primary);
  --ft-status-success: var(--ft-green-300);
  --ft-status-danger: var(--ft-red-300);
  --ft-status-warning: var(--ft-yellow-300);
  --ft-status-info: var(--primary);
  --ft-status-pending: var(--ft-yellow-300);
  --ft-muted-color: var(--ft-grey-400);

  /* COMPONENT OVERRIDES */
  /* -------------------------------- */

  /* app-drawer */
  --app-sidebar-background: var(--ft-white-100);
  --ft-app-drawer-text-color: var(--ft-grey-300);

  --app-drawer-scrim-background: rgba(60, 60, 60, 0.4);
  --app-drawer-content-container: {
    background-color: var(--app-sidebar-background);
    box-shadow: none;
  }

  /* FT SPECIFIC */
  /* -------------------------------- */

  /* global */
  --ft-primary-background: var(--ft-grey-300);
  --ft-primary-text-color: var(--ft-grey-600);
  /* --ft-border-radius: .125rem; */
  --ft-amount-pos-color: var(--ft-green-300);
  --ft-amount-neg-color: var(--ft-red-300);

  /* Notice bar */
  --ft-notice-bar-color: var(--ft-grey-500); /** remove */
  --ft-notice-bar-background: var(--ft-grey-100); /** remove */
  --ft-uic-widget-summary-color: var(--ft-grey-500);
  --ft-uic-widget-summary-background: var(--ft-grey-100);

  /* ft-logo */
  --ft-brand-logo-icon-a: var(--primary);
  --ft-brand-logo-icon-b: var(--ft-grey-300);
  --ft-brand-logo-letters: var(--primary);

  --ft-app-nav-logo-color: var(--ft-white-100);
  --ft-app-nav-logo-background: var(--ft-blue-500);

  /* ft-nav */
  --ft-nav-color: var(--ft-grey-800);
  --ft-nav-active-color: var(--primary);
  --ft-nav-icon-color: var(--ft-grey-400);
  --ft-nav-active-icon-color: var(--primary);
  --ft-nav-background: var(--ft-white-100);

  --ft-nav-active-background: var(--ft-grey-50);
  --ft-nav-list-color: var(--ft-grey-300);
  --ft-nav-list-background: var(--ft-grey-200);
  --ft-nav-heading-color: var(--ft-grey-600);
  --ft-nav-border-bottom: var(--ft-grey-200);
  --ft-nav-arrow-background: var(--ft-grey-200);

  /* ft-header */
  --ft-app-header-background: var(--ft-white-100);
  --ft-app-logo-background: var(--ft-grey-400);
  --ft-mobile-menu-icon-color: var(--ft-grey-400);

  /* ft-header-nav / icon */
  --ft-header-nav-icon-color: var(--ft-grey-300);
  --ft-header-nav-icon-active-color: var(--primary);
  --ft-header-nav-icon-background: var(--ft-app-header-background);
  --ft-header-nav-icon-active-background: rgba(0, 0, 0, 0.1);
  --ft-header-nav-icon-border-color: var(--ft-grey-100);

  /* ft-uic-breadcrumbs */
  --ft-breadcrumb-color: var(--ft-grey-400);
  --ft-breadcrumb-active-color: var(--ft-grey-600);
  --ft-breadcrumb-arrow-color: var(--primary);

  /* ft-header-nav / listbox (settings dropdown) */
  --ft-header-nav-color: var(--ft-grey-600);
  --ft-header-nav-background: var(--ft-grey-300);

  /* ft-tabs */
  --ft-tabs-color: var(--ft-grey-800);
  --ft-tabs-border-color: var(--ft-grey-300);
  --ft-tabs-add-button-color: var(--ft-grey-400);
  --ft-tabs-add-button-background: var(--ft-grey-300);
  --ft-tabs-settings-button-color: var(--ft-grey-400);
  --ft-tabs-selection-bar-color: var(--primary);

  /* ft-uic-table */
  --ft-table-border: var(--ft-grey-100);
  --ft-table-header-background: var(--ft-grey-600);
  --ft-table-header-color: var(--ft-white-100);
  --ft-table-footer-background: rgba(0, 0, 0, 0.015);
  --ft-table-footer-color: var(--ft-white-100);
  --ft-tablezebra-background: var(--ft-grey-100);
  --ft-table-inline-hover-background: rgba(0, 0, 0, 0.1);

  --ft-row-header-border-mixin: {
    border-bottom: solid 1px var(--ft-grey-200);
  }

  --ft-row-footer-border-mixin: {
    border-top: solid 1px var(--ft-grey-200);
  }

  /* TODO find out how to @apply themed classes from :host */
  --ft-table-header-mixin: {
  }
  --ft-table-footer-mixin: {
  }

  /* ft-uic-input and ft-uic-textarea */
  --ft-input-color: var(--ft-grey-900);
  --ft-input-background: var(--ft-white-100);
  --ft-input-border: solid 1px var(--ft-grey-200);
  --ft-input-focus: rgba(60, 200, 240, 1) 0 0 0.375rem;
  --ft-input-label-color: var(--ft-grey-300);
  --ft-input-placeholder-color: var(--ft-grey-200);
  --paper-input-container-invalid-color: var(--ft-red-300);

  --ft-textarea-counter-focus-color: var(--ft-grey-800);
  --ft-textarea-counter-color: var(--ft-grey-300);
  --ft-textarea-counter-background: var(--ft-grey-200);

  /* ft-checkbox / paper-checkbox */
  --paper-checkbox-unchecked-color: var(--ft-muted-color);
  --paper-checkbox-checked-color: var(--primary);
  --ft-record-checkbox-unchecked-color: var(--primary);
  --ft-record-checkbox-ink-color: var(--paper-checkbox-checkmark-color, white);
  --paper-checkbox-label-color: var(--ft-app-text-color);

  /* New checkbox */
  --ft-checkbox-theme-color: var(--primary);
  --ft-checkbox-theme-checkmark-color: var(--ft-white-100);

  /* ft-radio */
  --ft-paper-radio-button-checked-color: var(--primary);
  --ft-paper-radio-button-checked-ink-color: var(--primary);
  --ft-paper-radio-button-unchecked-color: var(--primary);
  --ft-paper-radio-button-unchecked-ink-color: var(--primaryLight);

  /* ft-dialog */
  --ft-dialog-close-icon-color: var(--primary);
  --ft-dialog-background: var(--ft-white-100);
  --ft-dialog-header-color: var(--ft-grey-400);

  --ft-dialog: {
    box-shadow: none;
  }

  /* ft-signed-numbered-list */
  --ft-signed-numbered-list-color: var(--ft-grey-400);
  --ft-signed-numbered-list-background: var(--ft-grey-100);

  /* ft-interaction-pane (class is reusable) */
  --ft-interaction-pane-background: transparent;
  --ft-interaction-pane-border-color: var(--ft-grey-300);
  --ft-interaction-pane-legend-color: var(--ft-grey-800);

  /* ft-label (mixin!) */
  --ft-label-custom: {
    color: var(--ft-grey-300);
  }

  /* ft-form-container  */
  --ft-form-container-background: var(--ft-grey-50);
  --ft-form-container-border-devider: solid 1px var(--ft-grey-100);
  --ft-blocked-background: var(--ft-grey-100);

  /* ft-legend  */
  --ft-form-legend-color: var(--ft-grey-900);
  --ft-form-legend-border: solid 1px var(--ft-grey-500);

  /* ft-paper-dropdown-menu  */
  --ft-paper-dropdown-menu-color: var(--ft-grey-900);
  --ft-paper-dropdown-menu-background: var(--ft-grey-100);
  --ft-paper-dropdown-menu-sec-color: var(--ft-grey-400);
  --ft-paper-dropdown-menu-arrow-color: var(--primary);
  --ft-paper-dropdown-menu-active-color: var(--primary);

  /* ft-record-layout */
  --ft-record-header-color: var(--ft-grey-400);
  --ft-record-table-cell: var(--ft-white-100);
  --ft-record-table-cell-hover: #fafafa;
  --ft-record-table-highlighted-color: var(--ft-grey-600);
  --ft-record-table-highlighted-background: var(--ft-grey-200);
  --ft-record-checkbox-circle-background: var(--ft-grey-250);
  --ft-record-checkbox-circle-active-background: var(--primary);
  --ft-record-toolbar-background: var(--ft-grey-200);

  --ft-record-table-row-shadow-mixin: {
    @apply --panel-shadow-mixin;
  }

  /* ft-agreement */
  --ft-agreement-container-background: var(--ft-grey-200);
  --ft-agreement-label-color: var(--ft-grey-600);
  --ft-agreement-background: var(--ft-grey-100);
  --ft-agreement-text-color: var(--ft-black-100);

  /* ft-admin-changes permissions table */
  --ft-permissions-table-top-label-color: var(--ft-black-100);
  --ft-permissions-table-label-color: var(--ft-grey-600);
  --ft-permissions-table-cell-background: var(--ft-white-100);
  --ft-permissions-table-cell-color: var(--ft-black-100);
  --ft-permissions-table-cell-span-border-color: var(--ft-grey-100);

  /* Nested Dialog filters */
  --ft-search-results-border-color: var(--ft-grey-100);
  --ft-search-results-input-color: var(--ft-black-100);
  --ft-search-results-input-background: var(--ft-white-100);
  --ft-search-results-placeholder-border: solid 1px var(--ft-grey-200);
  --ft-search-results-placeholder-color: var(--ft-black-100);
  --ft-search-results-placeholder-background: var(--ft-white-100);

  /* ft-uic-dropdown-listbox */
  --ft-dropdown-listbox-header-color: var(--ft-app-text-color);
  --ft-dropdown-listbox-header-label-color: var(--ft-grey-300);
  --ft-dropdown-listbox-background: var(--ft-grey-200);
  --ft-dropdown-listbox-border-color: var(--ft-grey-100);
  --ft-dropdown-listbox-width: 200px;
  --ft-dropdown-listbox-check-color: var(--ft-app-text-color);

  --ft-dropdown-listbox-button-icon-color: var(--ft-white-100);
  --ft-dropdown-listbox-button-color: var(--ft-white-100);
  --ft-dropdown-listbox-button-border-radius: 0.125rem;
  --ft-dropdown-listbox-button-background: var(--primary);
  --ft-dropdown-listbox-button-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px;

  /* ft-uic-pagination */
  --ft-pagination-color: var(--ft-app-text-color);
  --ft-pagination-background-color: var(--ft-input-background);
  --ft-pagination-border: var(--ft-input-border);
  --ft-pagination-active-color: var(--ft-white-100);
  --ft-pagination-active-background-color: var(--primary);
  --ft-pagination-disabled-color: var(--disabled-color);
  --ft-pagination-disabled-background-color: var(--disabled-background-color);
  --ft-pagination-icon-color: var(--primary);

  /* ft-uic-bank-account-elements */
  --ft-bank-account-elements-icon-color: var(--primary);
  --ft-account-selector-extra-background: var(--ft-grey-50);

  /** ft-permissions-table */
  --ft-permission-background: var(--ft-white-100);
  --ft-permission-color: var(--ft-white-100);
  --ft-permission-color-active: var(--ft-green-300);
  --ft-permission-color-inactive: var(--ft-red-300);
  --ft-permission-icon-color: var(--primary);
  --ft-permission-line-background: var(--ft-grey-200);
  --paper-radio-button-checked-color: var(--ft-yellow-300);

  /** ft-stepper */
  --ft-uic-stepper-background: var(--ft-grey-200);
  --ft-uic-stepper-border-color: var(--ft-grey-200);
  --ft-uic-step-done-border-color: var(--ft-grey-200);

  --ft-uic-step-color: var(--ft-grey-300);
  --ft-uic-step-done-color: var(--ft-button-color);
  --ft-uic-step-active-color: var(--ft-button-color);
  --ft-uic-stepper-border-shadow-color: var(--ft-grey-200);

  --ft-uic-step-done-background: var(--primary);
  --ft-uic-step-active-background: var(--primary);

  /** filter-tag  */
  --filter-tag-color: var(--ft-grey-700);
  --filter-tag-background: var(--ft-grey-200);
  --filter-tag-icon-color: var(--primary);

  /** sortable  */
  --ft-sortable-background: var(--ft-grey-100);
  --ft-sortable-item-background: var(--ft-white-100);
  --ft-sortable-border-color: var(--ft-grey-200);

  /** dashboard widget config */
  --ft-chart-border-primary: var(--primary);
  --ft-chart-border: var(--ft-grey-300);

  --ft-widget-filter-color: var(--ft-grey-300);
  --ft-widget-filter-background: var(--ft-grey-200);
  --ft-widget-filter-border-bottom-color: var(--ft-grey-300);
  --ft-widget-filter-active-color: var(--primary);
  --ft-widget-filter-active-background: var(--ft-grey-100);
  --ft-widget-filter-active-border-bottom-color: var(--primary);

  --ft-pie-chart-selector-color: var(--ft-grey-300);
  --ft-pie-chart-selector-background: var(--ft-grey-200);
  --ft-pie-chart-selector-active-color: var(--ft-white-100);
  --ft-pie-chart-selector-active-background: var(--primary);

  /** dashboard widget config shared */
  --ft-config-border-color: var(--ft-grey-100);
  --ft-config-content-background: var(--ft-grey-100);
  --ft-config-footer-background: var(--ft-white-100);
  --ft-config-nav-background: var(--ft-white-100);
  --ft-config-nav-active-background: var(--ft-grey-100);
  --ft-config-nav-color: var(--ft-grey-300);
  --ft-config-nav-active-color: var(--ft-app-text-color);
  --ft-config-nav-icon-color: var(--ft-grey-300);
  --ft-config-nav-icon-active-color: var(--primary);
  --ft-config-content-overlay-background: rgba(230, 230, 230, 0.8);
  --ft-config-content-sortable-background: var(--ft-grey-100);

  --ft-available-widget-background: var(--ft-white-100);
  --ft-available-widget-hover-background: var(--ft-grey-100);

  --ft-groupby-background: #fafafa;
  --ft-groupby-subgroup-background: var(--ft-white-100);

  --ft-dropdown-setting-background: var(--ft-white-100);
  --ft-dropdown-setting-border-color: var(--ft-grey-200);

  --ft-grid-background: var(--ft-white-100);
  --ft-grid-headings-color: var(--ft-app-text-color);
  --ft-grid-headings-background: #fafafa;
  --ft-grid-border-color: var(--ft-grey-200);
  --ft-grid-row-hover-background: rgba(217, 240, 250, 0.36);
  --ft-grid-row-active-background: #ebf9ff;
  --ft-grid-collapse-icon-color: var(--primary);
  --ft-grid-sortby-icon-color: var(--primary);
  --ft-grid-overlay-background: rgba(255, 255, 255, 0.8);
  --ft-grid-cell-menu-background: var(--ft-white-100);
  --ft-uic-grid-listbox-background: var(--ft-white-100);
  --ft-uic-grid-temp-background: rgba(0, 0, 0, 0.05);
  --ft-uic-grid-row-hover-shadow: rgba(0, 0, 0, 0.14) 0 0 8px;

  --ft-uic-grid-mobile-checkbox-color: var(--ft-icon-color);
  --ft-uic-grid-mobile-checkbox-color-checked: var(--ft-white-100);
  --ft-uic-grid-mobile-checkbox-border: var(--ft-grey-200);
  --ft-uic-grid-mobile-checkbox-background: var(--ft-white-100);
  --ft-uic-grid-mobile-checkbox-background-active: var(--ft-icon-color);

  --ft-uic-grid-forecast-background: rgb(0 0 0 / 5%);
  --ft-uic-grid-forecast-highlight-background: rgb(255 255 255 / 90%);

  /* Grid grouped actions */
  --ft-uic-grid-grouped-actions-background: var(--ft-grey-100);

  --ft-uic-filter-section-border-color: var(--ft-grey-100);

  --ft-uic-filter-btn-background: rgba(0, 0, 0, 0.05);
  --ft-uic-filter-btn-background-hover: var(--accentColor);
  --ft-uic-filter-btn-color: var(--ft-icon-color);
  --ft-uic-filter-btn-color-hover: var(--ft-white-100);
  --ft-uic-filter-input-background: var(--ft-grey-100);

  --ft-dialog-search-background: var(--ft-white-100);
  --ft-dialog-search-border-color: var(--ft-grey-200);
  --ft-dialog-filter-background: var(--ft-white-100);
  --ft-dialog-filter-border-color: var(--ft-grey-200);
  --ft-dialog-search-result-text-hover: var(--ft-grey-700);
  --ft-dialog-search-result-background-hover: var(--primaryLight);

  --ft-widget-notice-background: var(--ft-white-100);

  --ft-dialog-tab-color: var(--ft-grey-200);
  --ft-dialog-tab-active-color: var(--ft-app-text-color);
  --ft-dialog-tab-border-color: var(--ft-grey-200);
  --ft-dialog-tab-border-active-color: var(--primary);

  --ft-card-background: var(--ft-white-100);

  --ft-label-color: var(--ft-app-text-color);
  --ft-label-background: var(--ft-app-background);

  --ft-uic-grid-sidebar-background: var(--ft-grey-100);
  --ft-uic-grid-sidebar-toggle-bg: var(--ft-grey-100);
  --ft-uic-grid-sidebar-toggle-bg-hover: var(--ft-grey-200);

  /* ICON COLORS */
  /* -------------------------------- */

  --ft-icon-client-channel: #4e76fc;
  --ft-icon-payments: indianred;
  --ft-icon-bank: cornflowerblue;
  --ft-icon-country: limegreen;
  --ft-icon-legal-entity: mediumpurple;
  --ft-icon-credit-transfer: goldenrod;
  --ft-icon-account-type: #4ee19f;
  --ft-icon-bic11: palegreen;
  --ft-icon-user: paleturquoise;
  --ft-icon-user-groups: darkkhaki;
  --ft-icon-school: #f8e1a9;
  --ft-icon-spa: #f1aabc;
  --ft-icon-brightness-low: #ff6200;

  /* ft-uic-* input */
  /* -------------------------------- */

  --ft-uic-input-background: var(--ft-white-100);
  --ft-uic-input-color: var(--ft-app-text-color);
  --ft-uic-input-addon-background: var(--ft-uic-input-background);
  --ft-uic-input-addon-border: none;
  --ft-uic-input-readonly-background: var(--ft-grey-200);
  --ft-uic-input-readonly-color: var(--ft-grey-400);

  /* This is not used anymore in ft-uic-input */

  --ft-uic-input-type-style: {
    font-size: var(--ft-app-font-size);
    font-weight: 400;
  }

  --ft-uic-input-container-style: {
    border-radius: 0.125rem;
    background-color: var(--ft-input-background);
    color: var(--ft-app-text-color);

    padding: 0.425rem 0.75rem;
    line-height: 1.54;
    box-sizing: border-box;
    display: block;
    width: 100%;

    min-height: 34px; /* Mainly for IE11 */

    border: none;
    outline: none;
  }

  /* ft-uic-input, ft-uic-input-error */
  /* -------------------------------- */
  --ft-uic-input-container-invalid-color: var(--ft-red-300);
  --ft-uic-input-error-color: var(--ft-red-100);
  --ft-uic-input-error: {
    @apply --ft-uic-input-type-style;
  }

  --ft-uic-input-help-text-color: var(--ft-app-text-color);
  --ft-uic-input-help-text: {
    @apply --ft-uic-input-type-style;
  }

  --ft-uic-input-chart-counter-text: {
    @apply --ft-uic-input-type-style;
  }

  --ft-uic-input-placeholder-color: var(--ft-grey-300);
  --ft-uic-input-container-label-focus: {
    color: var(--ft-grey-400);
  }

  --ft-uic-input-container-label: {
    color: var(--ft-grey-300);
    font-size: var(--ft-app-font-size);
    text-transform: uppercase;
    font-weight: 500;
  }

  --ft-uic-input-container-input: {
    @apply --ft-uic-input-container-style;
    @apply --ft-uic-input-type-style;
  }

  --ft-uic-input-container-input-box-shadow: var(--ft-input-element-box-shadow);
  --ft-uic-input-container-input-box-shadow-focus: var(--ft-input-element-box-shadow-focus);

  --ft-uic-addressbook-selector-error-text: {
    @apply --ft-uic-input-type-style;
  }

  /* ft-uic-digit-input */
  --ft-uic-digit-input-background: #fafafa;
  --ft-uic-digit-input-focus-background: var(--ft-white-100);
  --ft-uic-digit-input-border-color: var(--ft-grey-200);

  /* ft-uic-textarea */
  /* -------------------------------- */

  --ft-uic-autogrow-textarea: {
    @apply --ft-uic-input-container-style;
    @apply --ft-uic-input-type-style;
  }

  --ft-uic-autogrow-textarea-box-shadow: var(--ft-input-element-box-shadow);
  --ft-uic-autogrow-textarea-box-shadow-focus: var(--ft-input-element-box-shadow-focus);

  /* ft-uic-calendar */
  /* -------------------------------- */

  --ft-uic-calendar: {
    background-color: var(--ft-white-100);
    box-shadow: var(--ft-input-element-box-shadow);
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: var(--ft-app-font-size);
    font-weight: 400;
    border-radius: 0.125rem;
  }
  --ft-uic-calendar-weekday-color: var(--ft-grey-400);
  --ft-uic-calender-selected-color: var(--ft-white-100);
  --ft-uic-calender-selected-background: var(--ft-icon-color);
  --ft-uic-calender-today-background: var(--ft-grey-100);

  --ft-uic-calendar-day: {
    color: var(--ft-app-text-color);
  }

  /* ft-uic-listbox */
  /* -------------------------------- */

  --ft-uic-listbox-background-color: var(--ft-white-100);

  /* ft-uic-select */
  /* -------------------------------- */

  --ft-uic-select-label: {
    color: var(--ft-grey-300);
    text-transform: uppercase;
    font-size: var(--ft-app-font-size);
    font-weight: 500;
  }

  --ft-uic-select-item-container: {
    @apply --ft-uic-input-container-style;
    @apply --ft-uic-input-type-style;
    /** reset to give nested item padding */
    padding: 0 !important;
  }

  --ft-uic-select-item-container-box-shadow: var(--ft-input-element-box-shadow);
  --ft-uic-select-item-container-box-shadow-focus: var(--ft-input-element-box-shadow-focus);

  /* Native select */

  --ft-uic-native-select: {
    @apply --ft-uic-input-container-style;
    @apply --ft-uic-input-type-style;
  }

  --ft-uic-native-select-box-shadow: var(--ft-input-element-box-shadow);

  /* ft-uic-autocomplete */
  /* -------------------------------- */

  --ft-uic-autocomplete-suggestions-wrapper: {
    background-color: var(--ft-white-100);
    min-height: 20px;
    margin-top: -24px;
    border-bottom-left-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
    box-shadow: var(--ft-input-element-box-shadow);
  }

  --ft-uic-item-min-height: 24px;
  --ft-uic-item-light-wrapper: {
    @apply --layout-horizontal;
    @apply --layout-center-center;
  }
  --ft-uic-item-addon: {
    margin: 0 0 0 0.5rem;
  }

  /* ft-uic-item */
  /* -------------------------------- */

  --ft-uic-item-content: {
    display: block;
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    line-height: 1.54;
    box-sizing: border-box;

    font-size: var(--ft-app-font-size);
    font-weight: 400;
  }

  /* ft-uic-chart */
  /* -------------------------------- */

  --ft-uic-chart-title-color: var(--ft-grey-900);
  --ft-uic-chart-subtitle-color: var(--ft-grey-800);
  --ft-uic-chart-stroke-color: var(--ft-grey-400);
  --ft-uic-chart-axis-label-color: var(--ft-grey-300);
  --ft-uic-chart-label-color: var(--ft-app-text-color);
  --ft-uic-chart-line-color: var(--ft-grey-400);
  --ft-uic-chart-tooltip-color: var(--ft-grey-800);
  --ft-uic-chart-pie-chart-label-color: var(--ft-app-text-color);

  --ft-uic-chart-disabled-color: var(--ft-grey-300);
  --ft-uic-chart-legend-box-background: rgba(0, 0, 0, 0.05);

  /* ft-uic-dialog */
  /* -------------------------------- */

  --ft-uic-dialog-background: var(--ft-white-100);
  --ft-uic-dialog-color: var(--ft-app-text-color);

  /* ft-uic-rich-textbox */
  /* -------------------------------- */

  --ft-uic-rich-textbox-ulist-icon: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAR0lEQVR4AWMY2aANiP8DcTuS2H/iMSb4ApX4Qi0DW6ESbQyjYDSWhxHQBOIGINailoE3oGF4g1qRchUqcY0CAzG9DKaHNQAASkFWt2nG/SIAAAAASUVORK5CYII=");
  --ft-uic-rich-textbox-olist-icon: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAP0lEQVR4AWMYUuA/CFPdUHQ+sZiOBo4o8J/aMc0IxKuAuIdakdILxIuhBlNuILLkaCxTBBpABlISKZQbOBrLANURWBQoIqv2AAAAAElFTkSuQmCC");
  --ft-uic-rich-text-box-background: var(--ft-white-100);

  /* ft-uic-icon-button */
  /* -------------------------------- */

  --ft-uic-icon-button: {
    width: 34px;
    height: 34px;
    font-size: 16px;
    border-radius: 0.125rem;

    box-shadow: var(--ft-input-element-box-shadow);
    background-color: var(--ft-input-background);
    color: var(--ft-icon-color);

    border: none;
    outline: none;
  }

  --ft-uic-icon-button-focus {
    box-shadow: var(--ft-input-element-box-shadow-focus);
  }

  /* ft-uic-pill */
  /* -------------------------------- */

  --ft-uic-pill-background-color: var(--ft-grey-100);
  --ft-uic-pill-active-background-color: var(--ft-grey-200);
  --ft-uic-pill-close-button-mixin: {
    color: var(--ft-icon-color);
  }

  /* ft-uic-filter-dropdown */
  /* -------------------------------- */

  --ft-uic-filter-dropdown-input: {
    border-radius: 0.125rem;
    background-color: var(--ft-grey-200);
    color: var(--ft-app-text-color);

    padding: 0.425rem 0.75rem;
    line-height: 1.54;
    box-sizing: border-box;
    display: block;
    width: 100%;

    min-height: 34px;
    border: none;
    outline: none;

    @apply --ft-uic-input-type-style;
  }

  --ft-uic-filter-dropdown-background: var(--ft-grey-50);
  --ft-uic-filter-background-hover: var(--ft-grey-100);

  /* ft-uic-form-step */
  /* -------------------------------- */

  --ft-uic-form-step-panel-top-height: 42px;
  --ft-uic-form-step-panel-top-background: var(--ft-white-100);
  --ft-uic-form-step-panel-top-collapsed-background: var(--ft-grey-200);
  --ft-uic-form-step-panel-top-collapsed-color: var(--ft-grey-300);
  --ft-uic-form-step-panel-content-background: rgba(242, 242, 242, 1);
  --ft-uic-form-step-panel-content-active-background: rgba(250, 250, 250, 1);
  --ft-uic-form-step-overlay-background: rgba(242, 242, 242, 0.14);

  --ft-uic-form-stepper-spinner-background: rgba(242, 242, 242, 0.5);
  --ft-uic-fieldset-legend-background: var(--ft-grey-200);

  /* ft-uic-sortable-list-item */
  /* -------------------------------- */

  --ft-uic-sortable-list-item-body-background: var(--ft-white-100);
  --ft-uic-sortable-list-item-body-color: var(--ft-app-text-color);
  --ft-uic-sortable-list-item-body-option-border-color-left: var(--ft-grey-200);

  /* ft-uic-spinner */
  /* -------------------------------- */

  --ft-uic-spinner-radius: 1.5rem;
  --ft-uic-spinner-thickness: 3px;
  --ft-uic-spinner-active-color: var(--primary);
  --ft-uic-spinner-background-color: var(--ft-grey-400);
  --ft-spinner-page-trail: var(--ft-yellow-300);
  --ft-spinner-page-trail-background: var(--ft-grey-200);

  /* ft-uic-widget */
  /* -------------------------------- */

  --ft-uic-widget-header-color: var(--ft-grey-400);
  /* --ft-uic-widget-header-background: var(--ft-white-100); */
  --ft-widget-header-icon-color: var(--ft-grey-400);
  --ft-uic-widget-background: var(--ft-white-100);
  --ft-uic-widget-border-radius: 0.25rem;

  --ft-uic-widget-box-shadow: {
    @apply --panel-shadow-mixin;
  }

  --ft-widget-loader-background: rgba(255, 255, 255, 0.9);

  /* Old to be removed */
  --ft-widget-header-color: var(--ft-grey-400);
  --ft-widget-background: var(--ft-uic-widget-background);
  --ft-widget-box-shadow: {
    @apply --panel-shadow-mixin;
  }

  /* ft-uic-tabs */
  /* -------------------------------- */

  --ft-uic-tabs-background: var(--ft-white-100);
  --ft-uic-tabs-line-color: var(--primary);

  /* ft-uic-dialog-settings */
  /* -------------------------------- */

  --ft-uic-dialog-settings-header-background: var(--ft-white-100);
  --ft-uic-dialog-settings-border: var(--ft-grey-200);
  --ft-uic-dialog-settings-overlay-background: rgba(220, 220, 220, 0.8);
  --ft-uic-settings-pages-tab-selected-color: var(--ft-grey-400);
  --ft-uic-settings-pages-tab-selected-background: var(--ft-grey-100);

  /* ft-uic-badge */
  /* -------------------------------- */

  --ft-uic-badge-color: var(--ft-white-100);
  --ft-uic-badge-background: var(--primary);

  /* MISC */
  /* -------------------------------- */

  --ft-gradient-vertical-bar: {
    background: #2877cb;
    background: -webkit-linear-gradient(top, #2877cb 1%, #4bc6f2 100%);
    background: linear-gradient(to bottom, #2877cb 1%, #4bc6f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2877cb', endColorstr='#4bc6f2', GradientType=0);
  }

  --ft-button-group-container-background: var(--ft-grey-200);

  --ft-uic-account-selector-drawer-background: var(--ft-grey-100);
  --ft-uic-account-selector-drawer-auto-complete-background: var(--ft-white-100);

  --ft-dropdown-add-selector: {
    border: solid 1px var(--ft-grey-300);
  }

  --demo-snippet-demo: {
    background: #f2f2f2;
  }
}
